// app global css in Sass form
@import '../../../src/index.sass'

// see https://google-webfonts-helper.herokuapp.com/fonts/montserrat?subsets=latin


.selectedMenu
  position: absolute
  z-index: 2
  top: -21px
  left: -1px
  height: 21px
  margin: 0
  padding: 2px 5px
  line-height: 18px
  font-size: 12px
  background-color: #e3f2fd
  color: $primary
  border: 1px dotted #e3f2fd
  white-space: nowrap


.notSelected
  display: none


.selected
  display: block


.borderedWhenSelected
  border: 1px dotted blue


.borderedWhenHovered
  border: 1px dotted transparent
  transition: .3s


.borderedWhenHovered:hover
  border: 1px dotted grey
  transition: .3s


.visibleWhenHovered
  visibility: visible
  opacity: 0
  transition: .3s


.visibleWhenHovered:hover
  visibility: visible
  opacity: 1
  transition: .3s


.show_wysiwyg_editor_hint
  position: relative

  margin: 10px


.overlay
  display: none


.show_wysiwyg_editor_hint:hover .overlay
  width: 50px
  height: 50px
  border: 0px solid red
  position: absolute
  top: -40px
  left: -30px

  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  text-align: center
  color: black
  padding: 1px
  font-size: 14px
  cursor: pointer


// --- show_wysiwyg_editor_hint end -----------------------------

.show_wysiwyg_editor_hint2
  position: relative

  margin: 10px


.show_wysiwyg_editor_hint2:hover .overlay
  width: 50px
  height: 50px
  border: 0px solid red
  position: absolute
  top: -40px
  left: -30px

  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  text-align: center
  color: black
  padding: 1px
  font-size: 14px
  cursor: pointer

