<template>
  <q-page padding>

    <div>
      <div class="text-h3">CmsDroptarget</div>
      <div class="text-body1 q-pa-sm">
        Todo
      </div>
      <div class="text-h3">Examples</div>
      <div class="text-h6 q-pa-xs">
        Minimal Definition, CmsHeading not defined as 'editable':
      </div>
      <pre class="text-body1 q-pa-xs" v-highlightjs><code class="language-html">
        &lt;CmsDroptarget id=&quot;heading1Id&quot;
                        :editable="true"
                        :elements=&quot;[
                          {type: &#39;CmsText&#39;, content: &#39;row 1&#39;, attributes: {}},
                          {type: &#39;CmsText&#39;, content: &#39;row 2&#39;, attributes: {}}
                        ]&quot; /&gt;
      </code></pre>
      <div class="text-body1 q-pa-xs">
        will be transformed to the following snippet:
      </div>
      <pre class="text-body1 q-pa-xs" v-highlightjs><code id="heading1" class="language-html"></code></pre>
      <div class="text-body1 q-pa-xs">
        and will render as:
      </div>
      <div class="text-body1 q-ma-xs" style="background-color: #efefef">
        <CmsDroptarget id="heading1Id"
                        :editable="true"
                        :elements="[

                      {type: 'CmsText', content: 'row 2', attributes: {}}
                      ]" />
      </div>
    </div>



  </q-page>
</template>

<script lang="ts" setup>
import {onMounted} from "vue";
import {renderInto, renderParentInto} from "src/services/rendering";

onMounted(() => {
  //renderInto("heading1Id", "heading1")
  renderParentInto("","heading1Id", 0,"heading1")
})

</script>

<style lang="sass" scoped>
.directive-target
  width: 50px
  height: 50px
</style>
