<template>
  <q-page padding>

    <div>
      <div class="text-h3">CmsHtml</div>
      <div class="text-body1 q-pa-sm">
        An Element to define content which will be displayed directly as HTML. Use with caution.
      </div>
      <div class="text-h3">Examples</div>
      <div class="text-h6 q-pa-xs">
        Minimal Definition, CmsHtml not defined as 'editable':
      </div>
      <pre class="text-body1 q-pa-xs" v-highlightjs>
        <code class="language-html">
          &lt;CmsHtml id=&quot;text1Id&quot; content=&quot;&lt;hr&gt;&quot; :attributes=&quot;{}&quot;&gt;&lt;/CmsHtml&gt;
        </code>
      </pre>
      <div class="text-body1 q-pa-xs">
        will be transformed to the following snippet:
      </div>
      <pre class="text-body1 q-pa-xs" v-highlightjs><code id="text1" class="language-html"></code></pre>
      <div class="text-body1 q-pa-xs">
        and will render as:
      </div>
      <div class="text-body1 q-ma-xs" style="background-color: #efefef">
        <CmsHtml id="text1Id" content="<hr>" :attributes="{}"></CmsHtml>
      </div>
    </div>

    <div>
      <div class="text-h6 q-pa-xs">
        Editable CmsHtml:
      </div>
      <pre class="text-body1 q-pa-xs" v-highlightjs><code class="language-html">&lt;CmsHtml id="text2Id" :editable="true" content="CmsHtml editable" :attributes="{text: 'body1'}"&gt;&lt;/CmsHtml&gt;</code></pre>
      <div class="text-body1 q-pa-xs">
        will be transformed to the following snippet:
      </div>
      <pre class="text-body1 q-pa-xs" v-highlightjs><code id="text2" class="language-html"></code></pre>
      <div class="text-body1 q-pa-xs">
        and will render as:
      </div>
      <div class="text-body1 q-ma-xs" style="background-color: #efefef">
        <CmsHtml id="text2Id" :editable="true" content="content editable" :attributes="{text: 'body1'}"></CmsHtml>
      </div>
    </div>

    <div style="padding-bottom: 20px"></div>

    <div class="text-h3">Attributes</div>
    <ul>
      <li>id: string, required</li>
      <li>editable: boolean, default false</li>
      <li>content: string</li>
      <li>elements: array</li>
      <li>element: object</li>
      <li>attributes: object</li>
      <li>layoutPart: string</li>
      <li>style: string</li>
      <li>classDef: array</li>

    </ul>

  </q-page>
</template>

<script lang="ts" setup>
import {onMounted} from "vue";
import {renderInto, renderParentInto} from "src/services/rendering";

onMounted(() => {
  renderInto("text1Id", "text1")
  renderParentInto("cce__","text2Id", 3, "text2")
})

</script>

<style lang="sass" scoped>
.directive-target
  width: 50px
  height: 50px
</style>
