<template>
  <q-page padding>
    <hr>
    <CmsParagraph id="e4393fe3-cf5b-456f-86fa-0c6378bcbe6f" :editable="false" content="content not editable" :attributes="{h:2}"></CmsParagraph>
    <hr>
    <CmsParagraph id="e4393fe3-cf5b-456f-86fa-0c6378bcbe6f" :editable="true" content="content editable" :attributes="{h:2}" ></CmsParagraph>
  </q-page>
</template>

<script lang="ts">

</script>

<style lang="sass" scoped>
.directive-target
  width: 50px
  height: 50px
</style>
