<template>
  <q-page padding>

    <div>
      <div class="text-h3">CmsRows</div>
      <br>
      <div class="text-body1 q-pa-sm">
        An Element to define rows, the properties of which are defined in its attributes.<br>
      </div>

      <div>
        <div class="text-h3">Attributes</div>
        <br>
        <div class="row">
          <div class="col-5">
            <attribute-row name="Common Attributes" bgcolor="#FDF6E3"></attribute-row>
            <attribute-row name="id" type="string">
              rowsId
            </attribute-row>
            <attribute-row name="editable" type="boolean" bgcolor="#efefef">
              <q-toggle v-model="editable"/>
            </attribute-row>
            <!--            <attribute-row name="content" type="string">-->
            <!--              <q-input dense v-model="content"/>-->
            <!--            </attribute-row>-->

            <attribute-row name="Specific Attributes" bgcolor="#FDF6E3"></attribute-row>
            <attribute-row :name="'&nbsp;&nbsp;&nbsp;'+attr.attributeName" type="?" hint="?"
                           v-for="attr in specificAttributes">
              <q-select dense options-dense borderless rounded item-aligned emit-value map-options
                        option-label="label"
                        @update:model-value="val => update(attr.attributeName, val)"
                        :model-value="modelFor(attr.attributeName)"
                        :options="attr.options"
                        :label="attr.label"/>
            </attribute-row>

            <attribute-row name="Base Attributes" bgcolor="#FDF6E3"></attribute-row>
            <baseAttributes @update="val => update(val.name,val.value)"></baseAttributes>





            <ul>

              <li>layoutPart: string</li>
              <li>classDef: array</li>

            </ul>
          </div>
          <div class="col-1">
            &nbsp;
          </div>
          <div class="col-6">
            <div class="text-h6">HTML Code:</div>
            <pre class="text-body1 q-pa-xs" v-highlightjs><code id="code" class="language-html"></code></pre>
            <div class="text-h6">Renders as:</div>
            <CmsRows
                id="rowsId"
                :editable="editable"
                :content="content"
                :attributes="attributes()"
                :elements="[
                  {type: 'CmsHeading', id:'headingId', content: 'a heading', attributes: {h:'text-h5'}},
                  {type: 'CmsText', id:'textId', content: 'a text', attributes: {text:'text-body1'}}
              ]"
            />
            <div class="text-h6">DOM:</div>
            <pre class="text-body1 q-pa-xs" v-highlightjs><code id="dom" class="language-html"></code></pre>

          </div>
        </div>
      </div>

      <div class="text-h3">Actions</div>
      <br>
      <div class="text-body1 q-pa-sm">
        {{ actions }}
      </div>
      <div class="text-h3">Specific Attributes</div>
      <br>
      <div class="text-body1 q-pa-sm">
        {{ specificAttributes }}
      </div>
    </div>


    <div style="padding-bottom: 20px"></div>
  </q-page>
</template>

<script lang="ts" setup>
import {renderCodeInto, renderParentInto} from "src/services/rendering";
import {onMounted, ref, watchEffect} from "vue";
import AttributeRow from "components/helper/attributeRow.vue";
import BaseAttributes from "components/helper/baseAttributes.vue"
import {ColumnsContentBlockDefinition} from "skysail-cms-core";

const editable = ref(false)
const content = ref('the content')
const style = ref('')
const borders = ref('')

const h = ref("text-h5")

const specificAttribute = ref(new Map())
specificAttribute.value.set("h", "text-h5")

const color = ref('#000066')
const bgcolor = ref('#efefef')
const fontFamily = ref('Arial')
const fontWeight = ref('none')
const paddingDirection = ref('')
const paddingSize = ref('none')
const marginDirection = ref('')
const marginSize = ref('none')




const actions = new ColumnsContentBlockDefinition().getActions()
const specificAttributes = new ColumnsContentBlockDefinition().getSpecificAttributes()

let options_h = ['5']
const first = specificAttributes.at(0)
if (first) {
  options_h = first['options' as keyof object]
}

const update = (name: string, val: any) => {
  specificAttribute.value.set(name, val)
  console.log("specificAttribute", specificAttribute.value)
  //setTimeout(() => renderParentInto("columns__", "columns2Id", 0, "columns2"), 500)
  setTimeout(() => renderParentInto("rows__", "rowsId", editable.value ? 1:0, "dom"), 500)
  //setTimeout(() => renderCodeInto(`<CmsText id="text2Id" editable="${editable.value}" content="${content.value}" attributes="${JSON.stringify(attributes())}" />`, "code"), 500)
  setTimeout(() => renderCodeInto(`<CmsRows
                id="rowsId"
                editable="${editable.value}"
                attributes="${JSON.stringify(attributes())}"
                elements="[
                  {type: 'CmsHeading', id:'headingId', content: 'a heading', attributes: {h:5}},
                   {type: 'CmsText', id:'textId', content: 'a text', attributes: {text:'text-body1'}}
              ]"
            />`, "code"), 500)

}

const modelFor = (name: string) => {

  return specificAttribute.value.get(name)
}

onMounted(() => {
  update('dummy', 'dummy')
})

watchEffect(() => {
  console.log("effect", h.value,  content.value, specificAttribute.value, editable.value)
  update('dummy', 'dummy')
})

const attributes = () => {
  return {
    h: specificAttribute.value.get('h'),
    color: specificAttribute.value.get('color'),
    bgColor: specificAttribute.value.get('bgColor'),
    fontFamily: specificAttribute.value.get('fontFamily'),
    fontWeight: specificAttribute.value.get('fontWeight'),
    paddingSize: specificAttribute.value.get('paddingSize'),
    paddingDirection: specificAttribute.value.get('paddingDirection'),
    marginSize: specificAttribute.value.get('marginSize'),
    marginDirection: specificAttribute.value.get('marginDirection'),
    style: specificAttribute.value.get('style'),
    border: specificAttribute.value.get('border')
  }
}

const escapeHtml = (html: string) => {
  return "xxx"
}

</script>

