<template>
  <q-page padding>

    <div>
      <div class="text-h3">CmsRootSection</div>
      <br>
      <div class="text-body1 q-pa-sm">
        An Element to define a heading, the properties of which are defined in its attributes.<br>
      </div>
      <div class="text-h5">Example</div>
      <br>
      <div class="text-body1 q-pa-sm">
        <CmsRootSection id="cmsRootSectionExampleId"
                        :editable="false"
                        :elements="[
                      {type: 'CmsHeading', id:'row1Id', content: 'row 1', attributes: {}},
                      {type: 'CmsText', id:'row2Id', content: 'row 2', attributes: {}}
                      ]" />
      </div>
      <div>
        <div class="text-h5">Attributes</div>
        <br>
        <div class="row">
          <div class="col-5">
            <attribute-row name="Common Attributes" bgcolor="#FDF6E3"></attribute-row>
            <commonAttributes
              showId="headingId"
              content="the Content"
              @updateContent="val => this.content = val"
              @updateEditable="val => this.editable = val"
              :hasContent="hasContent()"
            />


            <!-- specific to CmsHeading -->
            <attribute-row name="Class Attributes" bgcolor="#FDF6E3"></attribute-row>


            <attribute-row name="Base Attributes" bgcolor="#FDF6E3"></attribute-row>


          </div>
          <div class="col-1">
            &nbsp;
          </div>
          <div class="col-6">
            <div class="text-h6">HTML Code:</div>
            <pre class="text-body1 q-pa-xs" v-highlightjs><code id="code" class="language-html"></code></pre>
            <div class="text-h6">Renders as:</div>
            <CmsRootSection id="rootSectionId"
                            :editable="editable"
                            :elements="[
                      {type: 'CmsHeading', id:'heading1Id', content: 'row 1', attributes: {}},
                      {type: 'CmsText', id:'text1Id', content: 'row 2', attributes: {}}
                      ]" />
            <div class="text-h6">DOM:</div>
            <pre class="text-body1 q-pa-xs" v-highlightjs><code id="dom" class="language-html"></code></pre>

          </div>
        </div>
      </div>

      <div class="text-h3">Actions</div>
      <br>
      <div class="text-body1 q-pa-sm">
        {{ actions }}
      </div>
      <div class="text-h3">Class Attributes</div>
      <br>
      <div class="text-body1 q-pa-sm">
        {{ classAttributes }}
      </div>
    </div>

  </q-page>
</template>

<script lang="ts" setup>
import {onMounted, ref, watchEffect} from "vue";
import {renderCodeInto, renderParentInto, getAttributesFrom} from "src/services/rendering";
import AttributeRow from "components/helper/attributeRow.vue";
import BaseAttributes from "components/helper/baseAttributes.vue";
import CommonAttributes from "components/helper/commonAttributes.vue";
import ClassAttributes from "components/helper/classAttributes.vue";
import {RootSectionBlockDefinition} from "skysail-cms-core";

const editable = ref(false)
const content = ref('the content')

const h = ref("text-h5")

const attributeMap = ref(new Map())

const classAttributeMap = ref(new Map())
classAttributeMap.value.set("h", "text-h5")

const contentBlockDefinition = new RootSectionBlockDefinition()
const actions = contentBlockDefinition.getActions()
const classAttributes = contentBlockDefinition.getSpecificAttributes()
console.log("specificAttributes", classAttributes)



const updateDom = () => {
  setTimeout(() => renderParentInto("", "rootSectionId", editable.value ? 0 : 0, "dom"), 500)
  setTimeout(() => renderCodeInto(`<CmsRootSection
            id="rootSectionId"
            editable="${editable.value}"
            :h="${getClassAttribute('h')}"
            :elements="[
              {type: 'CmsHeading', id:'heading1Id', content: 'row 1', attributes: {}},
              {type: 'CmsText', id:'textId', content: 'row 2', attributes: {}}
              ]"
             />`, "code"), 500)
}

const update = (name: string, val: any) => {
  attributeMap.value.set(name, val)
  updateDom()
}

const updateClass = (name: string, val: any) => {
  classAttributeMap.value.set(name, val)
  updateDom()
}
const remove = (name: string) => {
  attributeMap.value.delete(name)
  updateDom()
}

const getClassAttribute = (ident:string) => {
  return classAttributeMap.value.get(ident)
}

const hasContent = () => {
  return contentBlockDefinition.hasContent()
}

onMounted(() => {
  update('dummy', 'dummy')
})

watchEffect(() => {
  console.log("effect", h.value, content.value, classAttributeMap.value, editable.value)
  update('dummy', '')
})


</script>

