<template>
  <q-page padding>

    <div>
      <div class="text-h3">CmsSimpleList</div>
      <br>
      <div class="text-body1 q-pa-sm">
        An Element to define a simple html list (&lt;ul&gt; or &lt;ol&gt;), the properties of which are defined in its attributes.<br>
      </div>
      <div class="text-h5">Example</div>
      <br>
      <div class="text-body1 q-pa-sm">
        <CmsSimpleList id="example" content="example list" :classes="{}" :attributes="{}"
          :elements="[
                  {type: 'CmsHeading', id:'headingId', content: 'a heading', classes: {h:'text-h5'}},
                  {type: 'CmsText', id:'textId', content: 'a text', attributes: {text:'text-body1'}}
              ]"
        />
      </div>
      <div>
        <div class="text-h5">Attributes</div>
        <br>
        <div class="row">
          <div class="col-5">
            <attribute-row name="Common Attributes" bgcolor="#FDF6E3"></attribute-row>
            <commonAttributes
              showId="headingId"
              content="the Content"
              @updateContent="val => this.content = val"
              @updateEditable="val => this.editable = val"
              :hasContent="hasContent()"
            />


            <!-- specific to CmsHeading -->
            <attribute-row name="Class Attributes" bgcolor="#FDF6E3"></attribute-row>
            <classAttributes
              :attributes="classAttributes"
              :values="classAttributeMap"
              @updateClass="val => updateClass(val.name,val.value)"
            />

            <attribute-row name="Base Attributes" bgcolor="#FDF6E3"></attribute-row>
            <baseAttributes
              @update="val => update(val.name,val.value)"
              @remove="val => remove(val.name)"
              :hasContent="hasContent()"
            />

          </div>
          <div class="col-1">
            &nbsp;
          </div>
          <div class="col-6">
            <div class="text-h6">HTML Code:</div>
            <pre class="text-body1 q-pa-xs" v-highlightjs><code id="code" class="language-html"></code></pre>
            <div class="text-h6">Renders as:</div>

            <CmsSimpleList id="simpleListId" :editable="editable"
                           :classes="getAttributesFrom(classAttributeMap)"
                           :attributes="getAttributesFrom(attributeMap)"
                           :elements="[
                  {type: 'CmsHeading', id:'headingId', content: 'a heading', classes: {h:'text-h5'}},
                  {type: 'CmsText', id:'textId', content: 'a text', attributes: {text:'text-body1'}}
              ]"
            />

            <div class="text-h6">DOM:</div>
            <pre class="text-body1 q-pa-xs" v-highlightjs><code id="dom" class="language-html"></code></pre>
          </div>
        </div>
      </div>

      <div class="text-h3">Actions</div>
      <br>
      <div class="text-body1 q-pa-sm">
        {{ actions }}
      </div>
      <div class="text-h3">Class Attributes</div>
      <br>
      <div class="text-body1 q-pa-sm">
        {{ classAttributes }}
      </div>
    </div>

  </q-page>
</template>

<script lang="ts" setup>
import {onMounted, ref, watchEffect} from "vue";
import {renderCodeInto, renderParentInto, getAttributesFrom} from "src/services/rendering";
import AttributeRow from "components/helper/attributeRow.vue";
import BaseAttributes from "components/helper/baseAttributes.vue";
import CommonAttributes from "components/helper/commonAttributes.vue";
import ClassAttributes from "components/helper/classAttributes.vue";
import {SimpleListContentBlockDefinition} from "skysail-cms-core";

const editable = ref(false)
const content = ref('the content')

const h = ref("text-h5")

const attributeMap = ref(new Map())

const classAttributeMap = ref(new Map())
//classAttributeMap.value.set("h", "text-h5")

const contentBlockDefinition = new SimpleListContentBlockDefinition()
const actions = contentBlockDefinition.getActions()
const classAttributes = contentBlockDefinition.getSpecificAttributes()
console.log("specificAttributes", classAttributes)



const updateDom = () => {
  setTimeout(() => renderParentInto("", "simpleListId", editable.value ? 1 : 0, "dom"), 500)
  setTimeout(() => renderCodeInto(`
        <CmsSimpleList
                id="simpleListId"
                editable='${editable.value}'
                classes='${JSON.stringify(getAttributesFrom(classAttributeMap))}'
                attributes='${JSON.stringify(getAttributesFrom(attributeMap))}'
                elements="[
                  {type: 'CmsHeading', id:'headingId', content: 'a heading', classes: {h:'text-h5'}},
                  {type: 'CmsText', id:'textId', content: 'a text', attributes: {text:'text-body1'}}
                    ]"
                />
        `, "code"), 500)
}

const update = (name: string, val: any) => {
  attributeMap.value.set(name, val)
  updateDom()
}

const updateClass = (name: string, val: any) => {
  classAttributeMap.value.set(name, val)
  updateDom()
}

const remove = (name: string) => {
  attributeMap.value.delete(name)
  updateDom()
}

const hasContent = () => {
  return contentBlockDefinition.hasContent()
}

onMounted(() => {
  update('dummy', 'dummy')
})

watchEffect(() => {
  console.log("effect", h.value, content.value, classAttributeMap.value, editable.value)
  update('dummy', '')
})


</script>

