<template>
  <q-page padding>

    <div>
      <div class="text-h3">CmsText</div>
      <br>
      <div class="text-body1 q-pa-sm">
        An Element to define a text element, the properties of which are defined in its attributes.<br>
      </div>

      <div>
        <div class="text-h3">Attributes</div>
        <br>
        <div class="row">
          <div class="col-5">
            <attribute-row name="Common Attributes" bgcolor="#FDF6E3"></attribute-row>
            <commonAttributes
              showId="textId"
              content="the Content"
              @updateContent="val => this.content = val"
              @updateEditable="val => this.editable = val"
              :hasContent="hasContent()"
            />

            <!-- specific to CmsText -->
            <attribute-row name="Specific Attributes" bgcolor="#FDF6E3"></attribute-row>
            <specificAttributes
              :attributes="specificAttributes"
              :values="attributeMap"
              @update="val => update(val.name,val.value)"
            />

            <attribute-row name="Base Attributes" bgcolor="#FDF6E3"></attribute-row>
            <baseAttributes
              @update="val => update(val.name,val.value)"
              @remove="val => remove(val.name)"
              :hasContent="hasContent()"
            />

          </div>
          <div class="col-1">
            &nbsp;
          </div>
          <div class="col-6">
            <div class="text-h6">HTML Code:</div>
            <pre class="text-body1 q-pa-xs" v-highlightjs><code id="code" class="language-html"></code></pre>
            <div class="text-h6">Renders as:</div>
            <CmsText id="textId" :editable="editable" :content="content"
                        :attributes="getAttributesFrom(attributeMap)"></CmsText>
            <div class="text-h6">DOM:</div>
            <pre class="text-body1 q-pa-xs" v-highlightjs><code id="dom" class="language-html"></code></pre>

          </div>
        </div>
      </div>

      <div class="text-h3">Actions</div>
      <br>
      <div class="text-body1 q-pa-sm">
        {{ actions }}
      </div>
      <div class="text-h3">Specific Attributes</div>
      <br>
      <div class="text-body1 q-pa-sm">
        {{ specificAttributes }}
      </div>
    </div>

  </q-page>
</template>

<script lang="ts" setup>
import {onMounted, ref, watchEffect} from "vue";
import {renderCodeInto, renderParentInto, getAttributesFrom} from "src/services/rendering";
import AttributeRow from "components/helper/attributeRow.vue";
import BaseAttributes from "components/helper/baseAttributes.vue";
import CommonAttributes from "components/helper/commonAttributes.vue";
import SpecificAttributes from "components/helper/specificAttributes.vue";
import {TextContentBlockDefinition} from "skysail-cms-core";

const editable = ref(false)
const content = ref('the content')
const style = ref('')
const borders = ref('')

const h = ref("text-h5")

const attributeMap = ref(new Map())

const classAttributeMap = ref(new Map())
classAttributeMap.value.set("text", "none")

const contentBlockDefinition = new TextContentBlockDefinition()

const actions = contentBlockDefinition.getActions()
const specificAttributes = contentBlockDefinition.getSpecificAttributes()

let options_h = ['5']
const first = specificAttributes.at(0)
if (first) {
  options_h = first['options' as keyof object]
}

const updateDom = () => {
  setTimeout(() => renderParentInto("", "textId", editable.value ? 1:0, "dom"), 500)
  setTimeout(() => renderCodeInto(`
        <CmsText
                id="textId"
                editable='${editable.value}'
                content='${content.value}'
                classes='${JSON.stringify(getAttributesFrom(classAttributeMap))}'
                attributes='${JSON.stringify(getAttributesFrom(attributeMap))}' />
        `, "code"), 500)
}

const update = (name: string, val: any) => {
  attributeMap.value.set(name, val)
  updateDom()
}

const updateClass = (name: string, val: any) => {
  classAttributeMap.value.set(name, val)
  updateDom()
}

const remove = (name: string) => {
  attributeMap.value.delete(name)
  updateDom()
}

const hasContent = () => {
  return contentBlockDefinition.hasContent()
}

onMounted(() => {
  update('dummy', 'dummy')
})

watchEffect(() => {
  console.log("effect", h.value, content.value, attributeMap.value, editable.value)
  update('dummy', '')
})


</script>

