<template>
  <div class="row" :style="rowStyle()">
    <div class="col q-ma-sm">
      <b>{{ name }}</b>
    </div>
    <div class="col q-ma-sm">
      {{ type }}
    </div>
    <div class="col q-ma-sm">
      {{ hint }}
    </div>
    <div class="col">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AttributeRow',
  props: {
    name: {
      type: String,
      required: true
    },
    type: {
      type: String,
      required: false
    },
    hint: {
      type: String,
      required: false
    },
    bgcolor: {
      type: String,
      default: "white"
    },
  },
  setup (props) {
    return {
      props
    }
  },
  methods: {
    rowStyle() {
      //console.log("color", this.props.bgcolor)
      return `min-height:35px; background-color:${this.props.bgcolor}`
    }
  }
}
</script>
