<template>

  <attribute-row name="&nbsp;&nbsp;&nbsp;width" type="">
    <div class="row items-center">
      <div class="col">
        <q-checkbox size="40px" v-model="setWidth" />
      </div>
      <div class="col">
        <q-slider
          :disable="!setWidth"
          :min=0
          :max=200
          v-model="width"
        />
      </div>
      <div class="col">
        <q-select
          :disable="!setWidth"
          dense options-dense borderless rounded item-aligned
          v-model="widthUnit"
          :options="optionsSizeUnit"
          label="Unit"/>
      </div>
    </div>


  </attribute-row>
  <attribute-row name="&nbsp;&nbsp;&nbsp;height" type="" bgcolor="#efefef">
    <div class="row items-center ">
      <div class="col">
        <q-checkbox size="40px" v-model="setHeight" />
      </div>
      <div class="col">
        <q-slider
          :disable="!setHeight"
          :min=0
          :max=200
          v-model="height"
        />
      </div>
      <div class="col">
        <q-select
          :disable="!setHeight"
          dense options-dense borderless rounded item-aligned
          v-model="heightUnit"
          :options="optionsSizeUnit"
          label="Unit"/>
      </div>
    </div>


  </attribute-row>
  <attribute-row name="&nbsp;&nbsp;&nbsp;color" type="#xxxxxx or name" v-if="hasContent">
    <q-select dense options-dense borderless rounded item-aligned v-model="color" :options="options_color"
              label="color"/>
  </attribute-row>
  <attribute-row name="&nbsp;&nbsp;&nbsp;bgColor" type="#xxxxxx or name" bgcolor="#efefef">
    <q-select dense options-dense borderless rounded item-aligned v-model="bgcolor" :options="options_bgcolor"
              label="bgColor"/>
  </attribute-row>

  <attribute-row name="&nbsp;&nbsp;&nbsp;fontFamily" type="string" v-if="hasContent">
    <q-select dense options-dense borderless rounded item-aligned v-model="fontFamily" :options="options_fontFamily"
              label="fontFamily"/>
  </attribute-row>
  <attribute-row name="&nbsp;&nbsp;&nbsp;fontWeight" type="string" bgcolor="#efefef" v-if="hasContent">
    <q-select dense options-dense borderless rounded item-aligned v-model="fontWeight" :options="options_fontWeight"
              label="fontWeight"/>
  </attribute-row>

  <attribute-row name="&nbsp;&nbsp;&nbsp;style" type="string">
    <q-input dense v-model="style"/>
  </attribute-row>
  <attribute-row name="&nbsp;&nbsp;&nbsp;borders" type="string" bgcolor="#efefef">
    <q-input dense v-model="borders"/>
  </attribute-row>

  <attribute-row name="&nbsp;&nbsp;&nbsp;padding" type="string">
    <q-select dense options-dense borderless rounded item-aligned v-model="paddingDirection"
              :options="optionsPaddingDirection"
              label="Direction"/>
    <q-select dense options-dense borderless rounded item-aligned v-model="paddingSize" :options="optionsPaddingSize"
              label="Size"/>
  </attribute-row>
  <attribute-row name="&nbsp;&nbsp;&nbsp;margin" type="string" bgcolor="#efefef">
    <q-select dense options-dense borderless rounded item-aligned v-model="marginDirection"
              :options="optionsMarginDirection"
              label="Direction"/>
    <q-select dense options-dense borderless rounded item-aligned v-model="marginSize" :options="optionsMarginSize"
              label="Size"/>
  </attribute-row>

</template>

<script lang="ts" setup>
import AttributeRow from "components/helper/attributeRow.vue"
import {ref, watchEffect} from "vue";
import {ContentBlockDefinition} from "skysail-cms-core";

const props = defineProps({
  hasContent: {
    type: Boolean,
    default: false
  }
})

const emits = defineEmits(['update', 'remove'])

const color = ref('#000066')

const widthUnit = ref('px')
const width = ref(100)
const setWidth = ref(false)

const heightUnit = ref('px')
const height = ref(100)
const setHeight = ref(false)

const options_color = ['#000066', 'warning', 'info']
const optionsSizeUnit = ['%', 'px']
const bgcolor = ref('#efefef')
const options_bgcolor = ['#efefef', 'warning', 'info']
const fontFamily = ref('Arial')
const fontWeight = ref('none')
const style = ref('')
const borders = ref('')

const paddingDirection = ref('')
const paddingSize = ref('none')
const marginDirection = ref('')
const marginSize = ref('none')

const optionsPaddingDirection = ['', 'a', 't', 'l', 'b', 'r', 'x', 'y']
const optionsPaddingSize = ['none', 'auto', 'xs', 'sm', 'md', 'lg', 'xl']
const optionsMarginDirection = ['', 'a', 't', 'l', 'b', 'r', 'x', 'y']
const optionsMarginSize = ['none', 'auto', 'xs', 'sm', 'md', 'lg', 'xl']

const options_fontFamily = ['Arial', 'Montserat, san-serif']
const options_fontWeight = ['none', 'thin', 'light', 'regular', 'medium', 'bold', 'bolder']

watchEffect(() => {
  emits('update', {name: "color", value: color.value})
})
watchEffect(() => {
  emits('update', {name: "bgColor", value: bgcolor.value})
})
watchEffect(() => {
  emits('update', {name: "fontFamily", value: fontFamily.value})
})
watchEffect(() => {
  emits('update', {name: "fontWeight", value: fontWeight.value})
})
watchEffect(() => {
  emits('update', {name: "style", value: style.value})
})
watchEffect(() => {
  emits('update', {name: "borders", value: borders.value})
})
watchEffect(() => {
  emits('update', {name: "paddingDirection", value: paddingDirection.value})
})
watchEffect(() => {
  emits('update', {name: "paddingSize", value: paddingSize.value})
})
watchEffect(() => {
  emits('update', {name: "marginDirection", value: marginDirection.value})
})
watchEffect(() => {
  emits('update', {name: "marginSize", value: marginSize.value})
})
watchEffect(() => {
    emits('update', {name: "setWidth", value: setWidth.value})
    emits('update', {name: "width", value: width.value})
    emits('update', {name: "widthUnit", value: widthUnit.value})
  //emits('update', {name: "setWidth", value: setWidth.value})
})
watchEffect(() => {
    emits('update', {name: "setHeight", value: setHeight.value})
    emits('update', {name: "height", value: height.value})
    emits('update', {name: "heightUnit", value: heightUnit.value})
})


</script>
