<template>
  <attribute-row :name="'&nbsp;&nbsp;&nbsp;'+attr.attributeName" :type="attr.type" hint=""
                 v-for="attr in props.attributes">

    <q-select v-if="attr.type === 'fixedSelection'"
              dense options-dense borderless rounded item-aligned emit-value map-options
              option-label="label"
              @update:model-value="val => update(attr.attributeName, val)"
              :model-value="modelFor(attr.attributeName)"
              :options="attr.options"
              :label="attr.label"
    />
    <q-toggle v-else-if="attr.type === 'Boolean'"
              @update:model-value="val => update(attr.attributeName, val)"
              :model-value="modelFor(attr.attributeName)"
    />
    <q-input v-else-if="attr.type === 'url'"
              @update:model-value="val => update(attr.attributeName, val)"
              :model-value="modelFor(attr.attributeName)"
    />
    <div v-else-if="attr.type === 'number'" class="q-pa-md">
      <q-badge color="secondary">
        Model: {{ modelFor(attr.attributeName) }} (0 to 50)
      </q-badge>
      <q-slider
        :min=0
        :max=50
        @update:model-value="val => update(attr.attributeName, val)"
        :model-value="modelFor(attr.attributeName)"
      />

    </div>

    <div v-else>
      unknown attribute {{ attr }}
    </div>
  </attribute-row>

</template>

<script lang="ts" setup>
import AttributeRow from "components/helper/attributeRow.vue"
import {ref, watchEffect} from "vue";

const props = defineProps({
  attributes: {
    type: Object,
    required: false
  },
  values: {
    type: Object,
    required: false
  }
})

const emits = defineEmits(['updateClass'])

const color = ref('#000066')
const bgcolor = ref('#efefef')
const style = ref('')


const classAttribute = ref(new Map())


const modelFor = (name: string) => {
 // console.log("props", props)
  if (props.values) {
    return props.values.get(name)
  }
  console.log("could not find " + name + " in ", props.values)
  return null
  //return classAttribute.value.get(name)
}

const update = (name: string, val: any) => {
  console.log("updating", name, val)
  emits('updateClass', {name: name, value: val})
}


</script>
