<template>

  <attribute-row name="id" type="string">
    {{ props.showId }}
  </attribute-row>
  <attribute-row name="editable" type="boolean" bgcolor="#efefef">
    <q-toggle v-model="editable"/>
  </attribute-row>

  <attribute-row name="content" type="string" v-if="props.hasContent">
    <q-input dense v-model="content"/>
  </attribute-row>

</template>

<script lang="ts" setup>
import AttributeRow from "components/helper/attributeRow.vue"
import {ref, watchEffect} from "vue";
import {ContentBlockDefinition} from "skysail-cms-core";

const emits = defineEmits(['updateContent', 'updateEditable'])

const props = defineProps({
  showId: {
    type: String,
    default: 'undefinedId'
  },
  hasContent: {
    type: Boolean,
    default: false
  },
  content: {
    type: String,
    required: false
  }
})

const editable = ref(false)
const content = ref(props.content)

// const update = (name: string, val: any) => {
//   console.log("§hiertXSXX", name, val)
//   emits('update', {name: name, value: val})
// }

watchEffect(() => {
  console.log("updateContent", content.value)
  emits('updateContent', content.value)
})

watchEffect(() => {
  console.log("updateEditable", editable.value)
  emits('updateEditable', editable.value)
})

</script>
