<template>

  <q-dialog
      v-model="show"
  >
    <q-card style="width: 700px; max-width: 80vw;">
      <q-card-section>
        <div class="text-h6">Medium</div>
      </q-card-section>

      <q-card-section class="q-pt-xl">

        <form
            autocorrect="off"
            autocapitalize="off"
            autocomplete="off"
            spellcheck="false"
        >
          <q-editor
              v-model="editor"
              flat
              :content-style="{ }"
              :content-class="contentClasses"
              :definitions="{
                save: {
                  tip: 'Save and exit edit mode',
                  icon: 'save',
                  handler: exitEditMode
                }
              }"
              :toolbar="[
                  ['left','center','right','justify'],
                ['bold', 'italic', 'strike', 'underline'],
                [
                  {
                    label: 'default',
                    icon: 'font',
                    fixedIcon: true,
                    list: 'no-icons',
                    options: [
                      'default_font',
                      'arial',
                      'arial_black',
                      'comic_sans',
                      'courier_new',
                      'impact',
                      'lucida_grande',
                      'times_new_roman',
                      'verdana'
                    ]
                  },
                  'removeFormat'
                ],
                ['upload', 'save'],
                ['viewsource']
              ]"
              :fonts="{
                  arial: 'Arial',
                  arial_black: 'Arial Black',
                  comic_sans: 'Comic Sans MS',
                  courier_new: 'Courier New',
                  impact: 'Impact',
                  lucida_grande: 'Lucida Grande',
                  times_new_roman: 'Times New Roman',
                  verdana: 'Verdana'
                }"
              min-height="5rem" style="position:relative;top:-100px;"/>
        </form>
      </q-card-section>

      <q-card-actions align="right" class="bg-white text-teal">
        <q-btn flat label="OK" v-close-popup/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import {defineComponent, ref} from "vue";
import _ from "lodash";
import {cmsCore2} from "../../coreUi";


export default defineComponent({
  name: 'CmsEditorDialog',
  props: {
    id: {
      type: String,
      required: true
    },
    content: {
      type: String,
      required: false
    },
    show: {
      type: Boolean,
      required: true
    },
    contentClasses: {
      type: String,
      required: false
    },
    layoutPart: {
      type: String,
      default: "PAGE"
    },
  },
  setup(props) {
    const editor = ref(props.content)
    let previousSelection = _.clone(props.content)
    const pageStore = cmsCore2.pagesStore
    return {pageStore, editor, previousSelection, props}
  },
  methods: {
    exitEditMode() {
      this.$emit('updateShowDialog', false)
      cmsCore2.pagesStore.contentChanged(this.props.id, this.editor || '', this.previousSelection || '')
    },
    getClass() {
      return ""
    }
  }
})
</script>
