<template>
  <div>
    <div
        :id="'cce_'+attributes['linkType']+'_'+id"
        v-if="'external' === attributes['linkType']"
        v-html="content"
        @click="openExternalUrl(attributes['externalLink'])"
        :class="dynamicPageClasses.concat('cursor-pointer')"
    />
    <div
        :id="'cce_'+attributes['linkType']+'_'+id"
        v-else-if="'page' === attributes['linkType']"
        v-html="content"
        @click="openPage(attributes['pageLink'])"
        :class="dynamicPageClasses.concat('cursor-pointer')"
    />
    <div v-else
         :id="'cce__'+id"
         v-html="content"
         :class="dynamicPageClasses"
    />
  </div>
</template>

<script setup>
import {openURL} from "quasar";
import {cmsCore2} from "../../coreUi";

const props = defineProps({
  id: {
    type: String,
    required: true
  },
  attributes: {
    type: Object,
    required: true
  },
  content: {
    type: String,
    required: true
  },
  dynamicPageClasses: {
    type: Array,
    required: true
  }
})
const openExternalUrl = (url) => {
  openURL(url)
}
const openPage = (pageId) => {
  cmsCore2.websitesStore.setPageById(pageId)
}
// const getClasses = () => {
//   return props.dynamicPageClasses
// }
</script>
