<template>
<!-- does not look like the proper approach, at least for vuedraggable -->
  <draggable


      :key="'draggable_' + id"
      v-model="singleElementArray"
      @change="handleDropEvent(this, $event)"
      group="elementsGroup"
      item-key="id">
    <template #item="{element}">
      <slot></slot>
    </template>
  </draggable>
</template>

<script>
import {defineComponent} from "vue";
import draggable from "vuedraggable";
import {handleDropEvent} from "../elements/common";

export default defineComponent({
  name: 'CmsDraggable',
  components: {draggable},
  props: {
    id: {
      type: String,
      required: true
    }
  },
  setup() {
    return {
      handleDropEvent,
      singleElementArray: ['']
    }
  }
})
</script>
