<template>
  <div class="selectedMenu" :class="selectedClass(this)" style="z-index:6001" :id="'ccm_' + componentId">
    <span class="q-pr-lg">
      {{ title }}
      <q-tooltip>
        {{ componentId }}
      </q-tooltip>
    </span>
    <span class="q-pr-sm">{{ sign }}</span>
    <span class="q-pr-xs cursor-pointer">
      [class]
      <q-tooltip>
          {{ showClassDef }}
      </q-tooltip>
    </span>
    <span class="q-pr-sm cursor-pointer" v-if="hasAction('openEditor')"><q-icon name="edit" @click="eventEmitter.emit('component.' + componentId + '.openEditor', {})"/></span>
    <span class="q-pr-sm cursor-pointer" v-if="hasAction('toggleEditMode')"><q-icon name="edit" @click="editMode = !editMode; this.$emit('toggleEditMode', editMode)"/></span>
    <span class="q-pr-sm cursor-pointer" v-if="hasAction('changeType')"><q-icon name="loop" @click="this.dialog = true"/></span>
    <span class="q-pr-sm cursor-pointer" v-if="hasAction('editColumns')"><q-icon name="edit" @click="this.editColumnsDialog = true"/></span>
    <span class="q-pr-sm cursor-pointer" v-if="hasAction('dropColumn')"><q-icon name="delete" @click="dropColumn()"/></span>
    <span class="q-pr-sm cursor-pointer" v-if="hasAction('deleteElement')"><q-icon name="delete" @click="deleteElement()"/></span>

    <span class="q-pr-sm cursor-pointer" v-for="action in actions2">
      <q-icon :name="action.icon" @click="eventEmitter.emit('component.' + componentId + '.' + action.key, {})">
        <q-tooltip>
          {{ action.tooltip }}
        </q-tooltip>
      </q-icon>
    </span>
  </div>

  <q-dialog v-model="dialog" persistent>
    <q-card style="min-width: 350px">
      <q-card-section>
        <div class="text-h6">Change Content Type to</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-select v-model="newType" :options="options" label="new Content Type"/>
      </q-card-section>

      <q-card-actions align="right" class="text-primary">
        <q-btn flat label="Cancel" v-close-popup/>
        <q-btn flat label="Change Type" @click="changeType" v-close-popup/>
      </q-card-actions>
    </q-card>
  </q-dialog>

  <q-dialog v-model="editColumnsDialog" persistent>
    <q-card style="min-width: 350px">
      <q-card-section>
        <div class="text-h6">Set Width Ratio for Columns</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div class="row" >
          <div class="col"
               v-for="(c,i) in cmsCore2.pagesStore.currentSelection.elements"
               style="border:1px dotted grey">
            <q-input v-model="cols[i]"
                     mask="##"
                     :rules="[val => val >= 0 && val <= 12 || 'empty or number between 1 and 12']"
            ></q-input>
          </div>
        </div>
      </q-card-section>

      <q-card-actions align="right" class="text-primary">
        <q-btn flat label="Cancel" v-close-popup/>
        <q-btn flat label="Change Ratio" @click="changeWidthRatio" v-close-popup/>
      </q-card-actions>
    </q-card>
  </q-dialog>

</template>

<script>
import {defineComponent, ref} from "vue";
import {ContentBlock, ContentBlockType} from "skysail-cms-core";
import {cmsCore2} from "../../coreUi";
import { useNotificationHandler } from "../../services/ErrorHandler";
import {eventEmitter} from "../../../dev/src/services/events";

export default defineComponent({
  // name: 'ComponentName',
  emits: ['updateShowDialog','toggleEditMode'],
  props: {
    componentId: {
      type: String,
      required: true
    },
    attributes: {
      type: Object,
      required: false
    },
    title: {
      type: String,
      required: true
    },
    sign: {
      type: String,
      required: true
    },
    actions: {
      type: Array,
      required: false
    },
    actions2: {
      type: Array,
      required: false
    },
    showClassDef: { type: Array, required: false }
  },
  setup(props) {
    const dialog = ref(false)
    const editColumnsDialog = ref(false)
    const editMode = ref(false)
    const cols = ref([])
    const {handleError, handleSuccess} = useNotificationHandler()
    //const pageStore = cmsCore2.pagesStore
    return {
      dialog, newType: ref<ContentBlockType>(null),
      editColumnsDialog,
      cols,
      cmsCore2,
      hasAction(action) {
        if (props.actions) {
          return props.actions.indexOf(action) >= 0
        }
        return false
      },
      options: [
        ContentBlockType.ContentBlockHeading,
        ContentBlockType.ContentBlockParagraph,
        ContentBlockType.ContentBlockColumns
      ],
      handleError, handleSuccess,
      eventEmitter
    }
  },
  methods: {
    selectedClass(component) {
      return this.componentId === cmsCore2.pagesStore.currentSelection?.id ? "selected" : "notSelected"
    },
    clearFocus() {
      cmsCore2.pagesStore.setCurrentSelection(null)
    },
    changeType() {
      console.log("changing type to ", this.newType)
      cmsCore2.pagesStore.changeCurrentSelectionType(this.newType)
    },
    dropColumn() {
      console.log("dropping Column", cmsCore2.pagesStore.currentSelection.id)
      cmsCore2.pagesStore.deleteElement(cmsCore2.pagesStore.currentSelection.id)
    },
    changeWidthRatio() {
      console.log("changing ratio to ", this.cols)
      for (let i in this.cols) {
        if (this.cols[i]) {
          const element = cmsCore2.pagesStore.currentSelection.elements[i]
          // element.attributes['col'] = this.cols[i]
          // console.log("this.cols["+i+"]", element)
          cmsCore2.pagesStore.attributeChanged(element.id, "col", this.cols[i], '')
        }
      }
    },
    deleteElement() {
      cmsCore2.pagesStore.deletePageBlock(cmsCore2.pagesStore.currentSelection.id)
        .then((res) => {
          this.handleSuccess("Deleted Block")
          cmsCore2.pagesStore.setCurrentPageDirty(true)
          //websitesStore.reloadCurrentWebsite()
        })
        .catch((error) => this.handleError(error))
    }

  }
})
</script>
