<template>
  *+*<q-btn :label="label" color="primary"></q-btn>*+*
</template>
<script>
import { QBtn } from 'quasar'
export default {
  name: 'TestVue',
  props: {
    label: {
      type: String,
      required: false,
    }
  },
  components: {
    QBtn
  }
};
</script>
