<template>
  <div>Drawer Left</div>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
  // name: 'ComponentName',
  setup () {
    return {}
  }
})
</script>
