<template>

  <template v-if="websitesStore.currentWebsite && !websitesStore.currentWebsite?.footerDraft">
    <!-- no footer defined -->
    <div class="text-subtitle2 q-pa-xs bg-white" style="border: 1px dotted blue">
      <draggable
          v-model="singleElementArray"
          @change="changing(this, $event)"
          group="elementsGroup"
          item-key="id">
        <template #item="{element, index}">
          <div style="display:inline-block;"
               :id="id"
               :class="getClass()">
            <div class="text-grey-8">Footer Placeholder</div>
            <div class="text-body2 text-grey-8">Drag and Drop Elements from the <span @click="showAnimation()"
                                                                                      class="text-primary cursor-pointer">"add Elements"</span>
              view or
              hide this placeholder <span @click="hide" class="text-primary cursor-pointer">here</span>.
            </div>
            <div class="text-body2 text-grey-10">You can show the footer placeholder again by using the 'plus' sign on
              the bottom right.
            </div>
          </div>
        </template>
      </draggable>
    </div>
  </template>

  <template v-else>
    <!-- we have a footer in the website definition -->
    <div
        :class="dynamicPageClasses(websitesStore.currentWebsite)"
        :style="pageStyleHeaderOrFooter(websitesStore.currentWebsite, websitesStore.currentWebsite?.draftFlex['maxWidthAppliedToFooter'])">
      <component
          :is="websitesStore.currentWebsite?.footerDraft.type"
          :id="websitesStore.currentWebsite?.footerDraft.id"
          :key="websitesStore.currentWebsite?.footerDraft.id"
          :elements="websitesStore.currentWebsite?.footerDraft.elements"
          :element="websitesStore.currentWebsite?.footerDraft.element"
          :attributes="websitesStore.currentWebsite?.footerDraft.attributes"
          :content="websitesStore.currentWebsite?.footerDraft.content"
          :editable="editable"
          layout-part="FOOTER"
          @click="selectElement(websitesStore.currentWebsite?.footerDraft, $event)">
      </component>
    </div>
  </template>


</template>


<script>

import {cmsCore2} from "../../coreUi";
import draggable from "vuedraggable";
import {defineComponent} from "vue";
import {defaultElementProps} from "../elements/defaultProps2";
import {dynamicPageClasses, setElement, selectElement} from "../elements/common";
import {pageStyleHeaderOrFooter} from "../../pages/common";

export default defineComponent({
  name: 'CmsWebsiteFooter',
  emits: ['click'],
  components: {
    draggable
  },
  props: defaultElementProps,
  setup() {
    const websitesStore = cmsCore2.websitesStore
    const navigation = cmsCore2.navigation

    return {
      setElement, selectElement, pageStyleHeaderOrFooter, dynamicPageClasses,
      websitesStore,
      navigation,
      singleElementArray: ['']
    }
  },
  methods: {
    changing(e, event) {
      console.log("replacing footer element", e, event)
      //this.setElement(this, event.added.element.type)
      const newBlock = cmsCore2.pagesStore.createNewBlock(event.added.element.type, {})
      console.log("newBlock", newBlock)
      cmsCore2.websitesStore.currentWebsite.footerDraft = newBlock
      cmsCore2.websitesStore.updateCurrentWebsite()
    },
    getClass() {
      if (this.editable && this.id === cmsCore2.pagesStore.currentSelection?.id) {
        return ["borderedWhenSelected"]
      } else {
        return ["borderedWhenHovered"]
      }
    },
    hide() {
      this.websitesStore.currentWebsite.showFooter = false
      this.websitesStore.updateCurrentWebsite()
    },
    showAnimation() {
      cmsCore2.navigation.expansionItemAddElement = true
      cmsCore2.navigation.expansionItemAddElementAnimation = true;
      setTimeout(function () {
        cmsCore2.navigation.expansionItemAddElementAnimation = false;
      }, 1000);
    },
  }
})
</script>

