<template>

  <!-- cms-website-header -->
  <template v-if="websitesStore.currentWebsite && !websitesStore.currentWebsite?.headerDraft">
    <div class="text-subtitle2 q-pa-sm bg-white" style="border: 1px dotted blue">

      <draggable
          v-model="singleElementArray"
          @change="changing(this, $event)"
          group="elementsGroup"
          item-key="id">
        <template #item="{element, index}">
          <div style="display:inline-block;"
               :id="id"
               :class="getClass()">
            <div>Header Placeholder</div>
            <div class="text-body2 text-grey-8">Drag and Drop Elements from the <span @click="showAnimation()"
                                                                                      class="text-primary cursor-pointer">"add Elements"</span>
              view or
              hide this placeholder <span @click="hide" class="text-primary cursor-pointer">here</span>.
            </div>
            <div class="text-body2 text-grey-10">You can show the footer placeholder again by using the 'plus' sign on
              the bottom right.
            </div>
          </div>
        </template>
      </draggable>
    </div>
  </template>

  <template v-else>
    <!-- we have a header in the website definition -->
    <!--    // TODO use q-toolbar (?)-->
    <div
      :class="dynamicPageClasses(websitesStore.currentWebsite)"
      :style="pageStyleHeaderOrFooter(websitesStore.currentWebsite, websitesStore.currentWebsite?.draftFlex['maxWidthAppliedToHeader'])"
    >
      <component
          :is="websitesStore.currentWebsite?.headerDraft.type"
          :id="websitesStore.currentWebsite?.headerDraft.id"
          :key="websitesStore.currentWebsite?.headerDraft.id"
          :elements="websitesStore.currentWebsite?.headerDraft.elements"
          :element="websitesStore.currentWebsite?.headerDraft.element"
          :attributes="websitesStore.currentWebsite?.headerDraft.attributes"
          :content="websitesStore.currentWebsite?.headerDraft.content"
          :editable="editable"
          layout-part="HEADER"
          @click="selectElement(websitesStore.currentWebsite?.headerDraft, $event)">
      </component>
    </div>
  </template>
</template>

<script>

import {dynamicPageClasses, setElement, selectElement} from "../elements/common";
import {defineComponent} from "vue";
import draggable from "vuedraggable";
import {defaultElementProps} from "../elements/defaultProps2";
import {cmsCore2} from "../../coreUi";
import {pageStyleHeaderOrFooter} from "../../pages/common";

export default defineComponent({
  // because of https://github.com/akauppi/GroundLevel-firebase-es/issues/20:
  inheritAttrs: false,

  name: 'CmsWebsiteHeader',
  components: {
    draggable
  },
  props: defaultElementProps,
  setup() {
    const websitesStore = cmsCore2.websitesStore
    const navigation = cmsCore2.navigation
    return {
      setElement,
      selectElement,
      dynamicPageClasses,
      pageStyleHeaderOrFooter,
      websitesStore,
      navigation,
      singleElementArray: ['']
    }
  },
  methods: {
    changing(e, event) {
      console.log("replacing header element", e, event)
      const newBlock = cmsCore2.pagesStore.createNewBlock(event.added.element.type, {})
      console.log("newBlock", newBlock)
      cmsCore2.websitesStore.currentWebsite.headerDraft = newBlock
      cmsCore2.websitesStore.updateCurrentWebsite()
    },
    getClass() {
      if (this.editable && this.id === cmsCore2.pagesStore.currentSelection?.id) {
        return ["borderedWhenSelected"]
      } else {
        return ["borderedWhenHovered"]
      }
    },
    hide() {
      console.log("this.websitesStore.currentWebsite.showHeader", this.websitesStore.currentWebsite.showHeader)
      this.websitesStore.currentWebsite.showHeader = false
      console.log("this.websitesStore.currentWebsite.showHeader", this.websitesStore.currentWebsite.showHeader)
      this.websitesStore.updateCurrentWebsite()
    },
    showAnimation() {
      cmsCore2.navigation.expansionItemAddElement = true
      cmsCore2.navigation.expansionItemAddElementAnimation = true;
      setTimeout(function () {
        cmsCore2.navigation.expansionItemAddElementAnimation = false;
      }, 1000);
    },
    log(msg) {
      console.log(msg)
    }
  }
})
</script>
