<template>
  <router-view />
</template>

<script>
import {initializeMockCmsUi} from "../../src/coreUi";

export default {
  name: 'App',
  setup() {
    console.log("initializing CMS UI")
    initializeMockCmsUi()
  },
  created() {
    this.emitter.on('*', (type, e) => console.debug("emitted event: ", type, e))
  }
}
</script>
