<template>
  <cms-comment content="cms-ui/cms-paragraph"></cms-comment>
  <template v-if="editable">
    <draggable
        :key="'draggable_' + id"
        v-model="singleElementArray"
        @change="handleDropEvent(this, $event)"
        group="elementsGroup"
        item-key="id">
      <template #item="{element}">
        <div
            :id="id"
            :key="'template_' + id"
            :class="getClass()"
            style="margin:0;padding:0"
            @dblclick="this.dialog = true"
            @click.stop="selectElement(this, $event)">

          <cms-content-editable
              :id="id"
              :key="'cce_' + id"
              :attributes="attributes"
              :content="substitutePlaceholder(content)"
              :style="getParagraphStyles(attributes)"
              :dynamicPageClasses="dynamicPageClasses(attributes)"/>
          <!--          <span-->
          <!--              v-html="substitutePlaceholder(content)"-->
          <!--              @dblclick="this.dialog = true"-->
          <!--              @click.stop="selectElement(this, $event)"-->
          <!--              :class="dynamicPageClasses(attributes)"></span>-->
          <cms-content-menu
              :key="'ccm_'+id"
              :componentId="id"
              :attributes="attributes"
              title="Paragraph"
              sign="p"
              @updateShowDialog="setShowDialog"
              :actions="['openEditor','changeType','deleteElement']"
          />
        </div>
      </template>
    </draggable>

    <!-- dialog pop-up to edit contents -->
    <cms-editor-dialog
        :id="id"
        :key="id"
        :show="dialog"
        :content="content"

        :layoutPart="layoutPart"
        @updateShowDialog="setShowDialog"
    />
  </template>

  <!-- not editable (but displayed inside CMS, not CMS-Viewer) -->
  <template v-else>
    <p
        style="display:inline-block;"
        :id="this.id"
        :class="getClass()">
      <span v-html="content"/>
    </p>
  </template>
  <cms-comment content="cms-ui/cms-paragraph end"></cms-comment>
</template>

<script>
import {defineComponent, ref} from "vue";
import draggable from "vuedraggable";
import {defaultElementProps} from "./defaultProps2.ts";
import {animation, getStyles, handleDropEvent, selectElement} from "./common";
import CmsComment from "../helper/cms-comment";
import {default as CmsContentEditable} from "../helper/cms-content-editable.vue"
import {dynamicPageClasses} from './common';
import {default as CmsContentMenu} from "../helper/cms-content-menu.vue"
import {cmsCore2} from "../../coreUi";

export default defineComponent({
  name: 'CmsParagraph',
  emits: ['click'],
  components: {CmsContentEditable, CmsComment, draggable, CmsContentMenu},
  props: defaultElementProps,
  setup(props) {
    return {
      props,
      dialog: ref(false),
      singleElementArray: [''],
      selectElement, handleDropEvent, getStyles, dynamicPageClasses
    }
  },
  methods: {
    getClass(onlyDefaults = false) {
      const defaultClasses = `${this.attributes?.class}`
      if (onlyDefaults) {
        return defaultClasses
      }
      if (this.editable && this.id === cmsCore2.pagesStore.currentSelection?.id) {
        return defaultClasses + " borderedWhenSelected show_wysiwyg_editor_hint"
      } else {
        return defaultClasses + " borderedWhenHovered show_wysiwyg_editor_hint"
      }
    },
    setShowDialog(val) {
      this.dialog = val
    },
    substitutePlaceholder(content) {
      if (content.indexOf('%') <= 0) {
        return content
      }
      const replacements = {"%PACKAGE_VERSION%": process.env.PUBLIC_ENV_PACKAGE_VERSION}
      return content.replace(/%\w+%/g, function (all) {
        return replacements[all] || all;
      });
    },
    getParagraphStyles() {
      return getStyles(this.attributes)
    }
  }
})
</script>
