<template>
  <cms-comment content="cms-ui/cms-html"></cms-comment>
  <template v-if="editable">

    <draggable
        :key="'draggable_' + id"
        v-model="singleElementArray"
        @change="handleDropEvent(this, $event)"
        group="elementsGroup"
        item-key="id">
      <template #item="{element}">


        <div
            :class="classDef"
            style="margin:0;padding:0">
          <div
              :id="'html_'+id"
              :key="'template_' + id"
              :class="getClass()"
              style="margin:0;padding:0"
              @dblclick="this.dialog = true"
              @click.stop="selectElement(this, $event)">

            <cms-content-editable
                :id="id"
                :key="'cce_' + id"
                :attributes="attributes"
                :content="content"
                :style="gethtmlStyles(attributes)"
                :dynamicPageClasses="dynamicPageClasses(attributes)"/>

            <cms-content-menu
                :key="'ccm_'+id"
                :componentId="id"
                :attributes="attributes"
                title="html"
                sign="html"
                :actions2="actions2()"
            />

          </div>
        </div>
      </template>
    </draggable>

    <!-- dialog pop-up to edit contents -->
    <cms-editor-dialog
        :id="id"
        :key="'ced_' + id"
        :show="dialog"
        :content="content"
        :contentClasses="`html-h${this.attributes?.html}`"
        :layoutPart="layoutPart"
        @updateShowDialog="val => this.dialog = val"
    />
  </template>

  <template v-else>
    <div
        :style="gethtmlStyles(attributes)"
        :id="this.id"
        :class="getClass()">
      <span v-html="content"/>
    </div>
  </template>
  <cms-comment content="cms-ui/cms-html end"></cms-comment>
</template>

<script>
import {defineComponent, ref} from "vue";
import draggable from "vuedraggable";
import {defaultElementProps} from "./defaultProps2.ts";
import {getStyles, handleDropEvent, selectElement, dynamicPageClasses} from "./common";
import CmsComment from "../helper/cms-comment";
import {default as CmsContentEditable} from "../helper/cms-content-editable.vue"
import {default as CmsContentMenu} from "../helper/cms-content-menu.vue"
import {cmsCore2} from "../../coreUi";
import {eventEmitter} from "../../../dev/src/services/events";
import CmsEditorDialog from "../helper/cms-editor-dialog";
import {TextContentBlockDefinition} from "skysail-cms-core";
import _ from "lodash";

export default defineComponent({
  name: 'CmsHtml',
  emits: ['click'],
  components: {CmsContentEditable, CmsEditorDialog, draggable, CmsContentMenu, CmsComment},
  props: defaultElementProps,

  setup(props) {
    const websitesStore = cmsCore2.websitesStore
    return {
      dialog: ref(false),
      singleElementArray: [''],
      websitesStore,
      selectElement, handleDropEvent, dynamicPageClasses,
      props
    }
  },
  created() {
    const eventId = 'component.' + this.props.id
    eventEmitter.on(eventId + '.openEditor', (_type, _e) => {this.dialog = true})
    eventEmitter.on(eventId + '.duplicate', (_type, _e) => {
      console.log("duplicating")
    })
  },
  methods: {
    getClass(onlyDefaults = false) {
      const defaultClasses = []
      if (onlyDefaults) {
        return defaultClasses
      }
      if (this.attributes?.html) {
        defaultClasses.push(`html-${this.attributes?.html}`)
      }
      if (!this.editable) {
        return defaultClasses
      } else if (this.editable && _.find(cmsCore2.pagesStore.currentSelections, s => s.id === this.id)) {
        return defaultClasses + " borderedWhenSelected show_wysiwyg_editor_hint"
      } else {
        return defaultClasses + " borderedWhenHovered show_wysiwyg_editor_hint"
      }
    },
    gethtmlStyles() {
      const defaultStyles = getStyles(this.attributes)
      // needed ?defaultStyles.push('display:inline-block;')
      // if (this.attributes) {
      //   if (this.attributes['style']) {
      //     const split = this.attributes['style'].split(';')
      //     defaultStyles.push(split)
      //   }
      // }
      return defaultStyles
    },
    setShowDialog(val) {
      this.dialog = val
    },
    actions2() {
      // TODO
      return new TextContentBlockDefinition().getActions()
    }
  }
})
</script>
