<template>
  <cms-comment content="cms-ui/cms-columns"></cms-comment>
  <template v-if="editable">
    <draggable

        :key="'draggable_' + id"
        v-model="singleElementArray"
        @change="handleDropEvent(this, $event)"
        group="elementsGroup"
        item-key="id">
      <template #item="{element}">

        <div
            :id="'columns__'+id"
            @click.stop="selectElement(this, $event)"
            :class="getColumnsClass()"
            :style="columnsStyles()">
          <div v-for="c in elements"
               :class="getClass(c)">
            <component
                :is="getTypeFor(c)"
                :id="c.id"
                :key="c.id"
                :attributes="c.attributes || {}"
                :classes="c.classes || {}"
                :elements="c.elements"
                :editable="this.editable"
                :content="c.content"
                :layoutPart="layoutPart"
            />


          </div>

          <cms-content-menu
              :key="'ccm_'+id"
              :componentId="id"
              :attributes="attributes"
              title="Columns"
              sign="Col"
              :actions="['editColumns']"
          />
        </div>
      </template>
    </draggable>
  </template>

  <template v-else>
    <div :class="getColumnsClass()"
         :style="columnsStyles()"
         :id="'columns__'+id"
    >
      <div class="row q-pa-sm q-ma-sm" data-type="xxx" v-for="c in elements"
           style="width:100%" :class="getClass(c)">
          <component
                     :is="getTypeFor(c)"
                     :id="c.id"
                     :key="c.id"
                     :attributes="c.attributes || {}"
                     :classes="c.classes || {}"
                     :elements="c.elements"
                     :content="c.content" />
      </div>
    </div>
  </template>
  <cms-comment content="cms-ui/cms-columns end"></cms-comment>
</template>

<script>
import {defineComponent, ref} from "vue";
import draggable from "vuedraggable";
import {defaultElementProps} from "./defaultProps2.ts";
import {addElement, animation, getStyles, handleDropEvent, onInput, selectElement} from "./common";
import CmsComment from "../helper/cms-comment";
import {default as CmsContentEditable} from "../helper/cms-content-editable.vue"
import {dynamicPageClasses} from './common';
import {default as CmsContentMenu} from "../helper/cms-content-menu.vue"
import {cmsCore2} from "../../coreUi";
import {ContentBlockPosition} from "skysail-cms-core";

export default defineComponent({
  name: 'CmsColumns',
  emits: ['click'],
  components: {
    draggable, CmsContentMenu, CmsComment
  },
  props: defaultElementProps,
  setup(props) {
    const showEditor = ref(false)
    return {
      showEditor,
      handleDropEvent,
      singleElementArray: [''],
      myArray: [
        {name: "dog 1", id: 1},
      ],
      onInput, selectElement, addElement,
      list2: ref([]),
      singleElementList: ref(['singleElement']),
      props
    }
  },
  methods: {
    getTypeFor(c) {
      //console.log("returning type for", c.type)
      return c.type
    },
    handleDropTarget(e) {
      //console.log("*** setting drag to false", e)
      this.addElement(this, ContentBlockPosition.IN, e.added.element.type)
    },
    toggleShowEditor() {
      this.showEditor = !this.showEditor
    },
    exitEditMode() {
      this.showEditor = false
    },
    clone: function (el) {
      return {
        name: el.name + " cloned"
      };
    },
    log: function (evt) {
      console.log(evt);
    },
    getClass(c) {
      //console.log("c", c)
      if (c.attributes && c.attributes['col']) {
        return "col-" + c.attributes['col']
      }
      return "col"
    },
    getColumnsClass() {
      let defaultClasses = dynamicPageClasses(this.attributes)

      if (!this.editable) {
        return defaultClasses.concat(["row"])
      } else if (this.editable && this.id === cmsCore2.pagesStore.currentSelection?.id) {
        // row borderedWhenHovered show_wysiwyg_editor_hint
        return defaultClasses.concat(["row", "borderedWhenSelected", "show_wysiwyg_editor_hint"])
      } else {
        return defaultClasses.concat(["row", "borderedWhenHovered", "show_wysiwyg_editor_hint"])
      }
    },
    columnsStyles() {
      const defaultStyles = getStyles(this.attributes)
      //defaultStyles.push("width:100%")
      defaultStyles.push("margin:0px")
      defaultStyles.push("padding:0px")
      //defaultStyles.push("border:1px solid red")
      return defaultStyles
    }
  }
})
</script>

