<template>
  <!-- cms-ruler -->
  <template v-if="editable">

    <draggable
        :key="'draggable_' + id"
        v-model="singleElementArray"
        @change="changing(this, $event)"
        group="elementsGroup"
        item-key="id">
      <template #item="{element}">
        <div
            :class="classDef"
            :style="style">
          <!-- classDef & style -->
          <div
              :style="getElementStyles(attributes)"
              :id="id"
              :key="'template_' + id"
              :class="getClass()"
              @click.stop="selectElement(this, $event)">

            <hr :key="'span_' + id" style="height:1px">

            <cms-content-menu
                sign="hr"
                title="Horizontal Ruler"
                @updateShowDialog="setShowDialog"
                :key="'ccm_'+id"
                :componentId="id"
                :attributes="attributes || {}"
                :showClassDef="getClass()"
                :actions="[]"
            />
          </div>
        </div>
      </template>
    </draggable>
  </template>

  <template v-else>
    <!-- not editable (to be used in preview) -->
    <!--    <div-->
    <!--        :style="getElementStyles(attributes)"-->
    <!--        :id="this.id"-->
    <!--        :class="getClass()">-->
    <!--      <hr style="width:200px;height:1px"/>-->
    <!--    </div>-->
    <hr :style="getElementStyles(attributes)">
  </template>

</template>

<script>
import {defineComponent, ref} from "vue";
import CmsContentMenu from "../helper/cms-content-menu";
import draggable from "vuedraggable";
import {defaultElementProps} from "./defaultProps2";
import {dynamicPageClasses, getStyles, handleDropEvent} from "./common";
import {cmsCore2} from "../../coreUi";


export default defineComponent({
  name: 'CmsRuler',
  emits: ['click'],
  components: {draggable, CmsContentMenu},
  props: defaultElementProps,
  setup(props) {
    return {
      props,
      dialog: ref(false),
      singleElementArray: [''],
      selectElement, changing: handleDropEvent, getStyles, dynamicPageClasses
    }
  },
  methods: {
    getClass(onlyDefaults = false) {
      let defaultClasses = []

      if (this.attributes?.class) {
        defaultClasses.push(`${this.attributes?.class}`)
      }
      defaultClasses = defaultClasses.concat(dynamicPageClasses(this.attributes))
      if (onlyDefaults) {
        return defaultClasses
      }
      if (this.editable && this.id === cmsCore2.pagesStore.currentSelection?.id) {
        return defaultClasses.concat(["borderedWhenSelected", "show_wysiwyg_editor_hint"])
      } else {
        return defaultClasses.concat(["borderedWhenHovered", "show_wysiwyg_editor_hint"])
      }
    },
    setShowDialog(val) {
      this.dialog = val
    },
    getElementStyles() {
      const defaultStyles = getStyles(this.attributes)
      // needed ?defaultStyles.push('display:inline-block;')
      if (this.attributes) {
        if (this.attributes['width'] && this.attributes['setWidth']) {
          defaultStyles.push('width:' + this.attributes['width'] + (this.attributes['widthUnit'] || 'px'))
        }
      }
      return defaultStyles
    }

  }
})
</script>
