<template>
  <cms-comment content="cms-ui/cms-ordered-list"></cms-comment>
  <template v-if="editable">

    <ul
        @click.stop="selectElement(this, $event)"
        class="row borderedWhenHovered show_wysiwyg_editor_hint"
        style="width:100%;margin:2px;padding:2px">

      <li v-for="c in elements"
           class="q-pa-sm q-ma-sm borderedWhenHovered"
           @click.stop="selectElement(this, $event)"
           style="width:100%">

        <component
            @click.stop="selectElement(this, $event)"
            :is="c.type"
            :id="c.id"
            :key="c.id"
            :attributes="c.attributes || {}"
            :classes="c.classes || {}"
            :elements="c.elements"
            :editable="this.editable"
            :content="c.content">
        </component>


      </li>
      <cms-content-menu
          :key="'ccm_'+id"
          :componentId="id"
          :attributes="attributes"
          title="Rows"
          sign="R"
          :actions="['editRows']"
      />
    </ul>
  </template>

  <template v-else>
    <!-- not editable (to be used in preview) -->
    <component is="ol" :id="id">
      <li v-for="c in elements">
        <component
                   :is="c.type"
                   :id="c.id"
                   :key="c.id"
                   :attributes="c.attributes || {}"
                   :classes="c.classes || {}"
                   :elements="c.elements"
                   :content="c.content">
        </component>
      </li>
    </component>
  </template>
  <cms-comment content="cms-ui/cms-ordered-list end"></cms-comment>
</template>

<script>
import {defineComponent, ref} from "vue";
import draggable from "vuedraggable";
import {defaultElementProps} from "./defaultProps2.ts";
import {animation, getStyles, handleDropEvent, selectElement, dynamicPageClasses} from "./common";
import CmsComment from "../helper/cms-comment";
import {default as CmsContentEditable} from "../helper/cms-content-editable.vue"
import {default as CmsContentMenu} from "../helper/cms-content-menu.vue"
import {cmsCore2} from "../../coreUi";
import {eventEmitter} from "../../../dev/src/services/events";
import CmsEditorDialog from "../helper/cms-editor-dialog";
import {ContentBlockPosition, HeadingContentBlockDefinition} from "skysail-cms-core";
import _ from "lodash"

export default defineComponent({
  name: 'CmsSimpleList',
  emits: ['click'],
  components: {CmsComment, draggable, CmsContentEditable, CmsContentMenu, CmsEditorDialog},
  props: defaultElementProps,
  setup(props) {
    return {
      dialog: ref(false),
      singleElementArray: [''],
      selectElement,
      handleDropEvent,
      getStyles,
      dynamicPageClasses,
      animation,
      props
    }
  },
  created() {
    const eventId = 'component.' + this.props.id
    eventEmitter.on(eventId + '.openEditor', (_type, _e) => {
      this.dialog = true
    })
    eventEmitter.on(eventId + '.duplicate', (_type, _e) => {
      console.log("duplicating...")
      const newBlock = cmsCore2.pagesStore.duplicate(cmsCore2.pagesStore.currentSelection.id)
      if (newBlock) {
        console.log("adding new block after", this.props.id, this.props.id)
        cmsCore2.pagesStore.addContentBlock(ContentBlockPosition.AFTER, this.props.id, newBlock)
      }
    })
  },
  methods: {
    getClasses() {
      let defaultClasses = dynamicPageClasses(this.attributes)
      if (this.classes?.h) {
        defaultClasses.push(`${this.classes.h}`)
      }
      if (this.classes?.align) {
        defaultClasses.push(`${this.classes.align}`)
      }
      if (this.classes?.valign) {
        defaultClasses.push(`${this.classes.valign}`)
      }
      if (!this.editable) {
        return defaultClasses
      } else if (this.editable && _.find(cmsCore2.pagesStore.currentSelections, s => s.id === this.id)) {
        return defaultClasses.concat(["borderedWhenSelected", "show_wysiwyg_editor_hint"])
      } else {
        return defaultClasses.concat(["borderedWhenHovered", "show_wysiwyg_editor_hint"])
      }
    },
    getHeadlineStyles() {
      return getStyles(this.attributes)
    },
    actions2() {
      return new HeadingContentBlockDefinition().getActions()
    }
  }
})
</script>

