<template>
  <cms-comment content="cms-ui/cms-root-section"></cms-comment>
  <div :id="id">
    <component v-for="c in elements"
               :is="c.type"
               :id="c.id"
               :key="c.type + '_' + c.id"
               :elements="c.elements"
               :element="c.element"
               :attributes="c.attributes || {}"
               :classes="c.classes || {}"
               :content="c.content"
               :editable="editable"
               @click="selectElement(c, $event)">
    </component>
  </div>
  <cms-comment content="cms-ui/cms-root-section end"></cms-comment>

</template>

<script>
import {defineComponent} from "vue";
import {selectElement} from "./common";
import CmsComment from "../helper/cms-comment";
import {cmsCore2} from "../../coreUi";

export default defineComponent({
  name: 'CmsRootSection',
  emits: ['click'],
  components: {CmsComment},
  props: {
    id: {
      type: String,
      required: false
    },
    elements: {
      type: Array,
      required: true
    },
    editable: {
      type: Boolean,
      default: true
    }
  },
  setup() {
    //const selectedElement = ref<ContentBlock>(null as unknown as ContentBlock)
    const pageStore = cmsCore2.pagesStore
    return {pageStore: pageStore, selectElement}
  },
  methods: {
    getTypeFor(c) {
      return c.type.toString()
    },
    getIdFor(c) {
      return c.id
    }
  }
})
</script>
