<template>
  <cms-comment content="cms-ui/cms-heading"></cms-comment>
  <template v-if="editable">

    <draggable
        :key="'draggable_' + id"
        v-model="singleElementArray"
        @change="handleDropEvent(this, $event)"
        group="elementsGroup"
        item-key="id">
      <template #item="{element}">

        <div
            :class="classDef"
            style="margin:0;padding:0">

          <div
              :id="id"
              :key="'template_' + id"
              :class="getClasses()"
              style="margin:0;padding:0"
              @dblclick="this.dialog = true"
              @click.stop="selectElement(this, $event)">

            <cms-content-editable
                :id="id"
                :key="'cce_' + id"
                :attributes="attributes"
                :content="content"
                :style="getHeadlineStyles(attributes)"
                :dynamicPageClasses="dynamicPageClasses(attributes)"/>

            <cms-content-menu
                title="Heading"
                :key="'ccm_'+id"
                :componentId="id"
                :attributes="attributes"
                :sign="classes['h']"
                :showClassDef="getClasses()"
                :actions2="actions2()"
            />
          </div>

        </div>

      </template>
    </draggable>

    <!-- dialog pop-up to edit contents -->
    <cms-editor-dialog
        :id="id"
        :key="'ced_' + id"
        :show="dialog"
        :content="content"
        :contentClasses="`${this.classes?.h}`"
        :layoutPart="layoutPart"
        @updateShowDialog="val => this.dialog = val"
    />
  </template>

  <template v-else>

    <transition
        appear
        style="--animate-duration: 5s;--animate-repeat: 1;"
        :enter-active-class="animation(attributes)">
      <div
          :style="getHeadlineStyles(attributes)"
          :id="this.id"
          :class="getClasses()">
        {{ content }}
      </div>
    </transition>
  </template>
  <cms-comment content="cms-ui/cms-heading end"></cms-comment>
</template>

<script>
import {defineComponent, ref} from "vue";
import draggable from "vuedraggable";
import {defaultElementProps} from "./defaultProps2.ts";
import {animation, getStyles, handleDropEvent, selectElement, dynamicPageClasses} from "./common";
import CmsComment from "../helper/cms-comment";
import {default as CmsContentEditable} from "../helper/cms-content-editable.vue"
import {default as CmsContentMenu} from "../helper/cms-content-menu.vue"
import {cmsCore2} from "../../coreUi";
import {eventEmitter} from "../../../dev/src/services/events";
import CmsEditorDialog from "../helper/cms-editor-dialog";
import {ContentBlockPosition, HeadingContentBlockDefinition} from "skysail-cms-core";
import _ from "lodash"

export default defineComponent({
  name: 'CmsHeading',
  emits: ['click'],
  components: {CmsComment, draggable, CmsContentEditable, CmsContentMenu, CmsEditorDialog},
  props: defaultElementProps,
  setup(props) {
    return {
      dialog: ref(false),
      singleElementArray: [''],
      selectElement,
      handleDropEvent,
      getStyles,
      dynamicPageClasses,
      animation,
      props
    }
  },
  created() {
    const eventId = 'component.' + this.props.id
    eventEmitter.on(eventId + '.openEditor', (_type, _e) => {
      this.dialog = true
    })
    eventEmitter.on(eventId + '.duplicate', (_type, _e) => {
      console.log("duplicating...")
      const newBlock = cmsCore2.pagesStore.duplicate(cmsCore2.pagesStore.currentSelection.id)
      if (newBlock) {
        console.log("adding new block after", this.props.id, this.props.id)
        cmsCore2.pagesStore.addContentBlock(ContentBlockPosition.AFTER, this.props.id, newBlock)
      }
    })
  },
  methods: {
    getClasses() {
      let defaultClasses = dynamicPageClasses(this.attributes)
      if (this.classes?.h) {
        defaultClasses.push(`${this.classes.h}`)
      }
      if (this.classes?.align) {
        defaultClasses.push(`${this.classes.align}`)
      }
      if (this.classes?.valign) {
        defaultClasses.push(`${this.classes.valign}`)
      }
      if (!this.editable) {
        return defaultClasses
      } else if (this.editable && _.find(cmsCore2.pagesStore.currentSelections, s => s.id === this.id)) {
        return defaultClasses.concat(["borderedWhenSelected", "show_wysiwyg_editor_hint"])
      } else {
        return defaultClasses.concat(["borderedWhenHovered", "show_wysiwyg_editor_hint"])
      }
    },
    getHeadlineStyles() {
      return getStyles(this.attributes)
    },
    actions2() {
      return new HeadingContentBlockDefinition().getActions()
    }
  }
})
</script>

