<template>

  <cms-comment content="cms-ui/cms-parallax"></cms-comment>
  <draggable
    v-model="myArray"
    group="elementsGroup"
    style="width:100%;height:200px"
  >
    <template #item="{element}">
      <q-parallax
        @click.stop="selectElement(this, $event)"
        :height="attributes['height']"
        :speed="attributes['speed']">
        <template v-slot:media>
          <img alt='placeholder' :src="imgSrc()">
        </template>
        <div class="text-white text-h4">parallax placeholder text</div>
        <br><br>
        <div class="text-white text-h4" style="border: 1px dotted black">
          <draggable
            v-model="sel"
            group="elementsGroup"
            @change="changing(this, $event)"
            item-key="id">
            <template #item="{element}">
              drop Parallax Image Here
            </template>
          </draggable>
        </div>
      </q-parallax>
    </template>
  </draggable>
<!--  <draggable-->
<!--    v-model="myArray"-->
<!--    group="elementsGroup"-->
<!--    style="width:100%;height:200px"-->
<!--    >-->
<!--    <template #item="{element}">-->

<!--      <q-parallax-->

<!--        src="https://cdn.quasar.dev/img/parallax2.jpg"-->
<!--      >-->
<!--        <h1 class="text-white">Basic</h1>-->
<!--      </q-parallax>-->
<!--    </template>-->
<!--  </draggable>-->
<!--  <div>after</div>-->

  <cms-comment content="cms-ui/cms-parallax end"></cms-comment>
</template>

<script>
import {defineComponent, ref} from "vue";
import draggable from "vuedraggable";
import {defaultElementProps} from "./defaultProps2.ts";
import {addToAttributes, onInput, selectElement, setElement} from "./common";
import CmsComment from "../helper/cms-comment";
import {cmsCore2} from "../../coreUi";

export default defineComponent({
  name: 'CmsParallax',
  emits: ['click'],
  components: {
    draggable, CmsComment
  },
  props: defaultElementProps,
  setup(props) {
    const showEditor = ref(false)
    const pageStore = cmsCore2.pagesStore
    return {
      showEditor,
      pageStore,
      myArray: [
        {name: "dog 1", id: 1},
      ],
      onInput, selectElement, setElement, addToAttributes,
      sel: ref(['singleEntryList']),
      props
    }
  },
  methods: {
    // getTypeFor(c: any): string {
    //   return c.type
    // },
    changing(e, event) {
      console.log("dragged parallax image", e, event)
      this.addToAttributes(this, {src: event.added.element.src})
    },
    // clone: function (el: any) {
    //   return {
    //     name: el.name + " cloned"
    //   };
    // },
    imgSrc() {
      const attrs = this.attributes
      if (attrs && attrs["src"]) {
        return attrs["src"]?.replace(".thumb.png", "")
      }
      return "https://dummyimage.com/1240x400/bfbfbf/000066.png&text=parallax+placeholder+image"
    }
  }
})
</script>

