<template>
  <cms-comment content="cms-ui/cms-section"></cms-comment>
  <template v-if="editable">
    <!-- cms-section -->
    <div
        @click.stop="selectElement(this, $event)"
        class="row borderedWhenHovered show_wysiwyg_editor_hint rounded-borders"
        :style="getSectionStyle()">

      <div v-for="c in elements"
           @click.stop="selectElement(this, $event)"
           style="width:100%">

        <component
            :is="c.type"
            :id="c.id"
            :key="c.type + '_' + c.id"
            :elements="c.elements"
            :element="c.element"
            :attributes="c.attributes || {}"
            :content="c.content"
            :editable="editable"
            @click="selectElement(c, $event)">
        </component>
      </div>
      <cms-content-menu
          :key="'ccm_'+id"
          :componentId="id"
          :attributes="attributes"
          title="Section"
          sign="S"
          :actions="[]"
      />
    </div>


  </template>
  <template v-else>
    <div v-for="c in elements"
         @click.stop="selectElement(this, $event)"
         style="width:100%">

      <component
          :is="c.type"
          :id="c.id"
          :key="c.type + '_' + c.id"
          :elements="c.elements"
          :element="c.element"
          :attributes="c.attributes || {}"
          :content="c.content"
          :editable="editable"
          @click="selectElement(c, $event)">
      </component>
    </div>
  </template>
  <cms-comment content="cms-ui/cms-section end"></cms-comment>
</template>
<script>

import {defineComponent} from "vue";
import CmsContentMenu from "../helper/cms-content-menu";
import {defaultElementProps} from "./defaultProps2";
import {getStyles, selectElement} from "./common";
import {cmsCore2} from "../../coreUi";

export default defineComponent({
  name: 'CmsSection',
  emits: ['click'],
  components: {CmsContentMenu},
  props: defaultElementProps,
  setup() {
    const pageStore = cmsCore2.pagesStore
    //const selectedElement = ref<ContentBlock>(null as unknown as ContentBlock)
    return {pageStore, getStyles, selectElement}
  },
  methods: {
    getTypeFor(c) {
      return c.type.toString()
    },
    getIdFor(c) {
      return c.id
    },
    getSectionStyle() {
      const defaultStyles = getStyles(this.attributes)
      // "width:100%;margin:2px;padding:2px;border: 1px solid red;"
      return defaultStyles
    }
  }
})
</script>
