<template>
  <cms-comment content="cms-ui/cms-link"></cms-comment>
  <template v-if="editable">

    <draggable
      v-model="myArray"
      @change="changing(this, $event)"
      group="elementsGroup"
      item-key="id">
      <template #item="{element}">
        <div
          style="display:inline-block;"
          :id="this.id"
          :class="getClass(this)"
          @click.stop="selectElement(this, $event); this.editor = content; this.showEditor = true">
          <u><span v-html="content"/></u>
        </div>
      </template>
    </draggable>

    <form
      autocorrect="off"
      autocapitalize="off"
      autocomplete="off"
      spellcheck="false"
    >
      <q-editor v-if="showEditor"
                v-model="editor"
                flat
                :content-style="{ bgColor: '#C0C0C0' }"
                :content-class="getClass(this)"
                :definitions="{
                save: {
                  tip: 'Exit edit mode',
                  icon: 'save',
                  handler: exitEditMode
                }
              }"
                :toolbar="[
                ['bold', 'italic', 'strike', 'underline'],
                ['upload', 'save']
              ]"
                min-height="5rem" style="position:relative;top:-100px;"/>
    </form>
  </template>
  <template v-else>
    <div
      style="display:inline-block;"
      :id="this.id"
      :class="getClass(this)">
      <a :href="attributes['href']" v-html="content"/>
    </div>
  </template>
  <cms-comment content="cms-ui/cms-link end"></cms-comment>
</template>

<script>
import {defineComponent, ref, watch} from "vue";
import draggable from "vuedraggable";
import {addElement, animation, getStyles, handleDropEvent, onInput, selectElement} from "./common";
import CmsComment from "../helper/cms-comment";
import {cmsCore2} from "../../coreUi";

export default defineComponent({
  name: 'CmsLink',
  emits: ['click'],
  components: {
    draggable
  },
  props: {
    id: {
      type: String,
      required: true
    },
    content: {
      type: String,
      required: false
    },
    editable: {
      type: Boolean,
      default: true
    },
    attributes: {
      type: Object,
      required: true
    },
    elements: { // to be ignored
      type: Array,
      required: false
    },
  },
  setup(props) {
    const editor = ref(props.content)
    const showEditor = ref(false)

    watch(editor, (sel, prevSel) => {
      console.log("editor changed: ", sel, prevSel)
      cmsCore2.pagesStore.contentChanged(props.id, sel, prevSel || '')
    })

    return {
      showEditor,
      myArray: [
        {name: "dog 1", id: 1},
      ],
      editor,
      onInput, selectElement, addElement,
      changing: handleDropEvent,
      props
    }
  },
  methods: {
    getClass(component) {
      if (component.editable && component.id === cmsCore2.pagesStore.currentSelection?.id) {
        return `${component.attributes.class} bordered show_wysiwyg_editor_hint`
      } else {
        return `${component.attributes.class} show_wysiwyg_editor_hint`
      }
    },
    toggleShowEditor() {
      this.showEditor = !this.showEditor
    },
    currentContent() {
      return this.content
    },
    exitEditMode() {
      this.showEditor = false
      cmsCore2.websitesStore.updatePage(cmsCore2.pagesStore.currentPage)
    }
  }
})
</script>


