<template>
  <cms-comment content="cms-ui/cms-img"></cms-comment>
  <template v-if="editable">
    <!--    @change="changing(this, $event)"-->
    <draggable
        v-model="singleElementArray"

        group="elementsGroup"
        item-key="id">


      <template #item="{element}">
        <div
            :style="getStyles(attributes)"
            :id="id"
            :class="getClass()"
            @click.stop="selectElement(this, $event)">

          <!--          @dblclick="this.dialog = true"-->
          <q-img
              :src="attributes.src?.replace('.thumb.png','')"
              :fit="attributes.fit"
              :position="attributes.position"
              @click="selectElement(this, $event)"
              style="min-width:50px;resize:both"
              :width="attributes.width && attributes['widthUnit'] ? attributes.width + attributes['widthUnit']  : ''"
              :height="attributes.height && attributes['heightUnit'] ? attributes.height + attributes['heightUnit']  : ''"

              :class="componentClasses()"
              transition-show="jump-down"
          ><!--v-resize="onResize"-->
            <div class="text-white text-h4"
                 v-if="addElementsMenuIsExpanded()"
                 style="border: 1px dotted black">
              <draggable
                  v-model="sel"
                  group="elementsGroup"
                  @change="changing(this, $event)"
                  item-key="id">
                <template #item="{element}" v-if="attributes.src?.indexOf('https://dummyimage.com') >= 0">
                  drop Image Here
                </template>
                <template #item="{element}" v-else>
                  drop Image here
                </template>
              </draggable>
            </div>
          </q-img>
          <cms-content-menu
              :key="'ccm_'+id"
              :componentId="id"
              :attributes="attributes || {}"
              title="Image"
              sign="img"
              :actions="[]"
          />
          <!--            @updateShowDialog="setShowDialog"-->

        </div>
      </template>
    </draggable>
  </template>

  <template v-else>
    <q-img
        :id="id"
        :src="attributes.src?.replace('.thumb.png','')"
        :fit="attributes.fit"
        :position="attributes.position"
        @click="selectElement(this, $event)"
        style="min-width:50px;resize:both"
        :width="attributes.width && attributes['widthUnit'] ? attributes.width + attributes['widthUnit']  : ''"
        :height="attributes.height && attributes['heightUnit'] ? attributes.height + attributes['heightUnit']  : ''"

        :class="componentClasses()"
    />
    <!--    v-resize="onResize"-->
  </template>
  <cms-comment content="cms-ui/cms-heading end"></cms-comment>
</template>

<script>
import {defineComponent, ref, watch} from "vue";
import draggable from "vuedraggable";
import {defaultElementProps} from "./defaultProps2.ts";
import {addElement, addToAttributes, animation, getStyles, handleDropEvent, onInput, selectElement} from "./common";
import CmsComment from "../helper/cms-comment";
import {default as CmsContentEditable} from "../helper/cms-content-editable.vue"
import {dynamicPageClasses} from './common';
import {default as CmsContentMenu} from "../helper/cms-content-menu.vue"
import {cmsCore2} from "../../coreUi";

export default defineComponent({
  name: 'CmsImg',
  emits: ['click'],
  // directives: {'resize'},
  components: {
    draggable, CmsContentMenu, CmsComment
  },
  props: defaultElementProps,
  setup(props) {
    const editor = ref(props.content)
    const showEditor = ref(false)
    // const resizeObserver = new ResizeObserver(entries => {
    // });

    watch(editor, (sel, prevSel) => {
      console.log("selected changed: ", sel, prevSel)
      cmsCore2.pagesStore.contentChanged(props.id || '', sel, prevSel || '')
    })

    const navigation = cmsCore2.navigation

    return {
      showEditor,
      singleElementArray: [''],
      editor,
      onInput, selectElement, getStyles, addElement, addToAttributes,
      navigation,
      sel: ref(['singleEntryList']),
      width: 0,
      height: 0,
    }
  },
  methods: {
    changing(e, event) {
      console.log("dragged new image", e, event)
      this.addToAttributes(this, {src: event.added.element.src, imgId: event.added.element.id})
    },
    getClass(onlyDefaults = false) {
      let defaultClasses = []
      //defaultClasses.push(`text-h${this.attributes?.h}`)
      defaultClasses.push(`${this.attributes?.class}`)
      defaultClasses = defaultClasses.concat(dynamicPageClasses(this.attributes))
      if (onlyDefaults) {
        return defaultClasses
      }
      if (this.editable && this.id === cmsCore2.pagesStore.currentSelection?.id) {
        return defaultClasses.concat(["borderedWhenSelected", "show_wysiwyg_editor_hint"])
      } else {
        return defaultClasses.concat(["borderedWhenHovered", "show_wysiwyg_editor_hint"])
      }
    },
    toggleShowEditor() {
      this.showEditor = !this.showEditor
    },
    currentContent() {
      return this.content
    },
    exitEditMode() {
      this.showEditor = false
      cmsCore2.websitesStore.updatePage(cmsCore2.pagesStore.currentPage)
    },
    addElementsMenuIsExpanded() {
      return this.navigation.expansionItemAddElement
    },
    onResize(test) {
      console.log("width/height", test)
    },
    componentClasses() {
      const cls = []
      if (this.attributes) {
        if (this.attributes['border']) {
          cls.push(this.attributes['border'])
        }
      }
      return cls
    }
  }
})
</script>


