<template>

  <cms-comment content="cms-ui/cms-rows"></cms-comment>
  <template v-if="editable">

    <div
        @click.stop="selectElement(this, $event)"
        class="row borderedWhenHovered show_wysiwyg_editor_hint"
        style="width:100%;margin:2px;padding:2px">

      <div v-for="c in elements"
           class="row q-pa-sm q-ma-sm borderedWhenHovered"
           @click.stop="selectElement(this, $event)"
           style="width:100%">

        <component
            @click.stop="selectElement(this, $event)"
            :is="getTypeFor(c)"
            :id="c.id"
            :key="c.id"
            :attributes="c.attributes || {}"
            :elements="c.elements"
            :editable="this.editable"
            :content="c.content">
        </component>


      </div>
      <cms-content-menu
          :key="'ccm_'+id"
          :componentId="id"
          :attributes="attributes"
          title="Rows"
          sign="R"
          :actions="['editRows']"
      />
    </div>
  </template>

  <template v-else>
    <!-- not editable (to be used in preview) -->
    <div class="row q-pa-sm q-ma-sm" v-for="c in elements"
         style="width:100%">
      <div>
        <component style="width:100%"
                   :is="getTypeFor(c)"
                   :id="c.id"
                   :key="c.id"
                   :attributes="c.attributes || {}"
                   :elements="c.elements"
                   :content="c.content">
        </component>
      </div>
    </div>
  </template>

  <cms-comment content="cms-ui/cms-rows end"></cms-comment>
</template>

<script>
import {defineComponent, ref} from "vue";
import draggable from "vuedraggable";
import {defaultElementProps} from "./defaultProps2.ts";
import {addElement, animation, getStyles, handleDropEvent, onInput, selectElement} from "./common";
import CmsComment from "../helper/cms-comment";
import {default as CmsContentEditable} from "../helper/cms-content-editable.vue"
import {dynamicPageClasses} from './common';
import {default as CmsContentMenu} from "../helper/cms-content-menu.vue"
import {cmsCore2} from "../../coreUi";
import {ContentBlockPosition} from "skysail-cms-core";

export default defineComponent({
  name: 'CmsRows',
  emits: ['click'],
  components: {
    draggable, CmsContentMenu, CmsComment
  },
  props: defaultElementProps,
  setup(props) {
    const showEditor = ref(false)
    return {
      showEditor,
      myArray: [
        {name: "dog 1", id: 1},
      ],
      onInput, selectElement, addElement,
      list2: ref([]),
      singleElementList: ref(['singleElement']),
      props
    }
  },
  methods: {
    getTypeFor(c) {
      //console.log("returning type for", c.type)
      return c.type
    },
    changing(e) {
      console.log("*** setting drag to false", e)
      this.addElement(this, ContentBlockPosition.IN, e.added.element.type )
    },
    toggleShowEditor() {
      this.showEditor = !this.showEditor
    },
    exitEditMode() {
      this.showEditor = false
    },
    clone: function (el) {
      return {
        name: el.name + " cloned"
      };
    },
    log: function (evt) {
      console.log(evt);
    }
  }
})
</script>

