<template>

  <cms-comment content="cms-ui/cms-droptarget"></cms-comment>
  <template v-if="editable">
    <div class="text-subtitle2 q-ma-lg">
      <draggable
        :key="'draggable_' + id"
        v-model="singleElementArray"
        @change="setSingleElement(this, $event)"
        group="elementsGroup"
        item-key="id">
        <template #item="{element, index}">
          <div style="display:inline-block;"
               :id="id"
               :class="getClass()"
               @click.stop="selectElement(this, $event)">
            <!-- content span -->
            <span v-if="addElementsMenuIsExpanded()"
              :key="'span_' + id">drop the content here</span>
            <span v-else>&nbsp;</span>

            <cms-content-menu
              :key="'ccm_'+id"
              :componentId="id"
              :attributes="attributes"
              title="DropTarget"
              sign="D"
              :actions="['dropColumn']"
            />
          </div>

        </template>

      </draggable>


    </div>
  </template>

  <!-- not editable (but displayed inside CMS, not CMS-Viewer) -->
  <template v-else>
    <!-- no content here -->
  </template>
  <cms-comment content="cms-ui/cms-droptarget end"></cms-comment>

</template>

<script>
import {defineComponent, ref} from "vue";
import draggable from "vuedraggable";
import {defaultElementProps} from "./defaultProps2.ts";
import {animation, getStyles, handleDropEvent, selectElement, setElement, setSingleElement} from "./common";
import CmsComment from "../helper/cms-comment";
import {default as CmsContentEditable} from "../helper/cms-content-editable.vue"
import {dynamicPageClasses} from './common';
import {default as CmsContentMenu} from "../helper/cms-content-menu.vue"
import {cmsCore2} from "../../coreUi";

export default defineComponent({
  name: 'CmsDroptarget',
  emits: ['click'],
  components: {
    draggable, CmsContentMenu, CmsComment
  },
  props: defaultElementProps,
  setup() {
    const navigation = cmsCore2.navigation
    return {
      setElement,
      selectElement,
      setSingleElement,
      navigation,
      singleElementArray: ['']
    }
  },
  methods: {
    getTypeFor(c) {
      return c.type
    },
    getClass() {
      if (this.editable && this.id === cmsCore2.pagesStore.currentSelection?.id) {
        return ["borderedWhenSelected", "show_wysiwyg_editor_hint"]
      } else {
        return ["borderedWhenHovered", "show_wysiwyg_editor_hint"]
      }
    },
    addElementsMenuIsExpanded() {
      return this.navigation.expansionItemAddElement
    }
  }
})
</script>
