<template>
  <q-layout view="hHh lpR fFf">

    <q-header bordered className="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="toggleLeftDrawer"/>

        <q-toolbar-title>
          <q-avatar>
            <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg">
          </q-avatar>
          Title
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered>
      <q-list dense class="list">
        <div class="text-h5 q-ma-lg q-mb-md">Content Elements</div>
        <q-item :key="e.key" :to="e.key" v-for="e in elements">
          <q-item-section avatar>
            <q-icon name="pages"/>
          </q-item-section>
          <q-item-section>
            {{ e.label }}
          </q-item-section>
          <q-item-section side>
            <q-icon name="chevron_right"/>
          </q-item-section>
        </q-item>
      </q-list>

      <q-list dense class="list">
        <div class="text-h5 q-ma-lg q-mb-md">Structure Elements</div>
        <q-item :key="e.key" :to="e.key" v-for="e in structureElements">
          <q-item-section avatar>
            <q-icon name="pages"/>
          </q-item-section>
          <q-item-section>
            {{ e.label }}
          </q-item-section>
          <q-item-section side>
            <q-icon name="chevron_right"/>
          </q-item-section>
        </q-item>
      </q-list>

      <q-list dense class="list">
        <div class="text-h5 q-ma-lg q-mb-md">Helper Elements</div>
        <q-item :key="e.key" :to="e.key" v-for="e in helperElements">
          <q-item-section avatar>
            <q-icon name="pages"/>
          </q-item-section>
          <q-item-section>
            {{ e.label }}
          </q-item-section>
          <q-item-section side>
            <q-icon name="chevron_right"/>
          </q-item-section>
        </q-item>
      </q-list>

    </q-drawer>

    <q-page-container @click="unselect">
      <router-view/>
    </q-page-container>

    <q-footer elevated className="bg-grey-8 text-white">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg">
          </q-avatar>
          <div>Title</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

  </q-layout>
</template>

<script>
import {ref} from 'vue'
import pages from '../router/pages'
import {cmsCore2} from "../../../src/coreUi";

export default {
  setup() {
    const leftDrawerOpen = ref(true)
    const elements = [
      {key: 'cms-heading', label: 'Heading'},
      {key: 'cms-text', label: 'Text'},
      {key: 'cms-img', label: 'Image'},
      {key: 'cms-html', label: 'Html'}
    ]

    const structureElements = [
      {key: 'cms-simple-list', label: 'SimpleList'},
      {key: 'cms-columns', label: 'Columns'},
      {key: 'cms-rows', label: 'Rows'}
    ]

    const helperElements = [
      {key: 'cms-root-section', label: 'CmsRootSection'},
      {key: 'cms-droptarget', label: 'CmsDroptarget'}
    ]

    const pageStore = cmsCore2.pagesStore

    return {
      pages,
      pageStore,
      elements,
      structureElements,
      helperElements,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  },
  methods: {
    unselect() {
      //this.pageStore.unsetCurrentSelection()
      this.pageStore.unsetCurrentSelections()
    }
  }
}
</script>
